.login-image {
    background-image: url('../../assets/main-bg.png');
    background-size: cover;
    background-position: center;
}

.text-gradient {
    background: linear-gradient(to right, #68191F, #AB3130);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}