<div class="fixed inset-0 overflow-hidden z-[-1] bg-gradient-red-orange"></div>
<div class="flex justify-center items-center h-screen">
    <div class="flex flex-row justify-center items-center shadow-xl">
        <div class="flex justify-center bg-white w-[500px] h-[600px] rounded-tl-2xl rounded-bl-2xl">
            <form class="flex flex-col w-[85%]" (ngSubmit)="submit()" [formGroup]="userLoginForm">
                <div class="mt-20 flex flex-col gap-2">
                    <p class="text-custom-32 text-black font-weight700">Login</p>
                    <p class="text-custom-16 text-lightGray font-weight400">Welcome to PUP-T BioSync, please log in to continue.</p>
                </div>
                @if(credentialsError){
                  <div class="h-0.5 mt-2">
                    <p class="text-sm text-brightRed mt-2 text-center">
                      Incorrect Usercode or Password
                    </p>
                  </div>
                }
                <div class="flex flex-col mt-12 gap-2">
                    <div class="group relative flex items-center">
                        <mat-icon class="absolute left-2 text-lightGray transition-colors duration-300 group-focus-within:text-brightRed">supervised_user_circle</mat-icon>
                        <input matInput id="usercode" name="usercode"
                            placeholder="Faculty/Student Code" class="bg-transparent
                            border-b-2 border-lightGray focus:border-brightRed
                            focus:outline-none transition-colors
                            duration-300 w-full pl-12 pr-20 py-2 md:py-4 text-custom-20" formControlName="usercode"
                               (input)="credentialsError = false">
                    </div>
                    <div class="group relative flex items-center">
                        <mat-icon class="absolute left-2 text-lightGray transition-colors duration-300 group-focus-within:text-brightRed">key</mat-icon>
                        <input matInput id="password" type="password" name="password"
                            placeholder="Password" class="bg-transparent
                            border-b-2 border-lightGray focus:border-brightRed
                            focus:outline-none transition-colors
                            duration-300 w-full pl-12 pr-20 py-2 md:py-4 text-custom-20" formControlName="password"
                               (input)="credentialsError = false">
                    </div>
                </div>
                <div class="flex justify-end mt-2">
                    <a class="text-custom-16 text-gradient">Forgot Password?</a>
                </div>
                <button class="text-custom-20 mt-16 text-white py-2 px-10
                        bg-gradient-red-orange rounded-xl hover:bg-gradient-dark-red-orange
                        hover:text-f4White add-button">
                        Login
                </button>
                <div class="flex justify-center items-center flex-col gap-2 mt-14">
                    <img src="../../assets/gray-line.svg" alt="gray-line">
                    <div class="flex flex-row gap-1 items-center justify-center">
                        <p class="text-custom-16 text-lightGray">Visitor?</p>
                        <p class="text-custom-16 text-lightGray font-medium cursor-pointer"
                           (click)="navigateTo('visitor-log')">
                          Log In Here
                        </p>
                    </div>
                </div>
            </form>
         </div>
        <div class="login-image flex justify-center items-center w-[500px] h-[600px] rounded-tr-2xl rounded-br-2xl"></div>
    </div>
</div>
