<div class="flex justify-center items-center">
    <mat-toolbar class="toolbar-container">
        <span class="text-custom-32 text-brightRed">Add New Laboratory</span>
    </mat-toolbar>
</div>
<div class="flex justify-center items-center">
    <form class="mt-8 flex justify-between w-[90%] bg-transparent form-content" [formGroup]="laboratoryForm">
        <div class="w-[55%] flex flex-col gap-4 row-block">
            <div class="group flex flex-col gap-1">
                <label for="name" class="text-custom-16
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                        Laboratory Name
                </label>
                <input matInput id="name"
                    name="name"
                    placeholder="Enter laboratory name"
                    class="bg-transparent border-b-2 border-darkGray
                    focus:border-brightRed focus:outline-none
                    transition-colors duration-300 w-full py-2 px-1"
                    formControlName="name">
            </div>
            <div class="group flex flex-col gap-1">
                <label for="room-code" class="text-custom-16
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                        Room Code
                </label>
                <input matInput id="room_code"
                    name="room-code"
                    placeholder="Enter the room code"
                    class="bg-transparent border-b-2 border-darkGray
                    focus:border-brightRed focus:outline-none
                    transition-colors duration-300 w-full py-2 px-1"
                    formControlName="roomCode">
            </div>
            <div class="group flex flex-col gap-1">
                <label for="capacity" class="text-custom-20
                    text-darkGray transition-colors duration-300
                    group-focus-within:text-brightRed">
                    Capacity
                </label>
                <input matInput id="capacity"
                    name="capacity" type="number"
                    placeholder="Enter a number capacity"
                    class="bg-transparent border-b-2 border-darkGray
                    focus:border-brightRed focus:outline-none
                    transition-colors duration-300 w-full py-2 px-1"
                    formControlName="capacity">
            </div>
            <div class="flex flex-col justify-end gap-4 mt-10">
                <div class="flex gap-[40px] justify-end button-content">
                    <button class="text-custom-14 text-lightGray py-2
                        px-20 border-2 rounded-full border-lightGray back-button">
                        Back
                    </button>
                    <button class="text-custom-14 text-white py-2 px-19
                        bg-gradient-red-orange rounded-full
                        hover:bg-gradient-dark-red-orange hover:text-f4White add-button"
                        (click)="submit()">
                        Add Laboratory
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
