<button (click)="closeSidenav()"><mat-icon class="close-icon">close</mat-icon></button>
<mat-toolbar class="toolbar-container">
    <img class="biosync-logo" src="../../assets/BioSyncLogo.png" alt="Biosync Logo">
</mat-toolbar>
<mat-nav-list class="list-container">
    <div routerLinkActive="router-link-active"  class="menu-container" (click)="onButtonClick('dashboard')" [class.clicked]="activeButton === 'dashboard'">
        <button routerLink="/dashboard" routerLinkActive="router-link-active"  class="menu-content">
            <img src="../../assets/dashboard.svg" alt="Dashboard Icon">
            <p>Dashboard</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('visitor')" [class.clicked]="activeButton === 'visitor'">
        <button routerLink="/visitor" class="menu-content">
            <img src="../../assets/visitor.svg" alt="Visitor Icon">
            <p>Visitor</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('schedule')" [class.clicked]="activeButton === 'schedule'">
        <button routerLink="/schedule" class="menu-content">
            <img src="../../assets/professor.svg" alt="Professor Icon">
            <p>Schedules</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('subject')" [class.clicked]="activeButton === 'subject'">
        <button routerLink="/subject" class="menu-content">
            <img src="../../assets/subject.svg" alt="Subject Icon">
            <p>Subjects</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('professor')" [class.clicked]="activeButton === 'professor'">
        <button routerLink="/professor" class="menu-content">
            <img src="../../assets/professor.svg" alt="Professor Icon">
            <p>Professor</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('student')" [class.clicked]="activeButton === 'student'">
        <div class="flex justify-between items-center schedule-arrow" (click)="toggleDropdown($event)">
            <button class="menu-content">
                <img src="../../assets/student.svg" alt="Schedule Icon">
                <p>Student</p>
            </button>
            <mat-icon>{{ isDropdownOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </div>
    </div>
    @if(isDropdownOpen) {
        <div class="dropdown-content flex flex-col">
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/student')">List of Student</button>
            </div>
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/attendance')">List of Attendance</button>
            </div>
        </div>
    }
</mat-nav-list>
<div class="bottom-container">
    <div class="line-container">
        <img src="../../assets/line.svg">
    </div>
    <div class="logout-container">
        <button class="logout-content" (click)="openLogoutDialog()">
            <img src="../../assets/logout.svg" alt="Logout Icon">
            <p>Logout</p>
        </button>
    </div>
</div>
