.toolbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding-top: 40px;
    padding-bottom: 48px;
    width: 100%;
    position: relative;
}

.biosync-logo {
    width: 130px;
    height: 130px;
}

.role-container p {
    font-size: 16px;
    color: #7F7F7F;
    font-style: italic;
}

.list-container {
    margin-top: 32px;
    height: calc(100vh - 268px);
    overflow-y: auto;
    position: relative;
}

.menu-container {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 295px;
    height: 52px;
    display: flex;
    align-items: center;
    transition: background 0.5s ease, color 0.5s ease;
}

.menu-container img {
    max-width: 6%;
}

.menu-content {
    margin-left: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    width: 270px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-content img {
    transition: filter 0.3s ease;
}

.menu-content p {
    transition: color 0.3s ease;
    font-size: 16px;
}

.menu-container.clicked {
    background: linear-gradient(90deg, #F84C42, #F9653F, #FB7E3C);
}

.menu-container.clicked p {
    color: #FFFFFF;
}

.menu-container.clicked img {
    filter: brightness(0) invert(1);
}

.dropdown-content {
    width: 295px;
    background-color: #F4F4F4;
}

.dropdown-content button {
    margin-left: 60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 0px;
}

.schedule-arrow {
    margin-left: auto;
    margin-right: 9px;
    display: flex;
    align-items: center;
}

.clicked mat-icon {
    color: white;
}

.bottom-container {
    position: absolute; /* Allows it to stick to the bottom */
    bottom: 0; /* Sticks it to the bottom */
    width: 100%; /* Ensure it stretches across the full width */
    padding-bottom: 1rem; /* Optional: add padding */
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-container img {
    width: 90%;
}

.logout-container {
    display: flex;
    flex-direction: column;
}

.logout-content {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    margin-top: 8px;
    margin-left: 23px;
    background: none;
    border: none;
    cursor: pointer;
}

.logout-content img {
    max-width: 6%;
}

.logout-content p {
    font-size: 16px;
    color: #F84C42;
}

.close-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    background-color: #f0f0f0; 
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.close-icon:hover {
    background-color: #d0d0d0;
    transform: scale(1.1);
}

.list-container::-webkit-scrollbar {
    width: 8px;
}

.list-container::-webkit-scrollbar-track {
    background-color: #E3E3E3;
    border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
    background-color: #D33C33;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
}

.list-container::-webkit-scrollbar-thumb:hover {
    background-color: #F9653F;
}

@media (min-width: 901px) {
    .close-icon {
    display: none;
    }
}