<button (click)="closeSidenav()"><mat-icon class="close-icon">close</mat-icon></button>
<mat-toolbar class="toolbar-container">
    <img class="biosync-logo" src="../../assets/BioSyncLogo.png" alt="Biosync Logo">
</mat-toolbar>
<mat-nav-list class="list-container">
    <div routerLinkActive="router-link-active"  class="menu-container" (click)="onButtonClick('dashboard')" [class.clicked]="activeButton === 'dashboard'">
        <button routerLink="/dashboard" routerLinkActive="router-link-active"  class="menu-content">
            <img src="../../assets/dashboard.svg" alt="Dashboard Icon">
            <p>Dashboard</p>
        </button>
    </div>
  @if(getRole() === "ADMIN") {
    <div class="menu-container" (click)="onButtonClick('visitor')" [class.clicked]="activeButton === 'visitor'">
        <button routerLink="/visitor" class="menu-content">
            <img src="../../assets/visitor.svg" alt="Visitor Icon">
            <p>Visitor</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('schedule')" [class.clicked]="activeButton === 'schedule'">
        <button routerLink="/schedule" class="menu-content">
            <img src="../../assets/professor.svg" alt="Professor Icon">
            <p>Schedules</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('subject')" [class.clicked]="activeButton === 'subject'">
        <button routerLink="/subject" class="menu-content">
            <img src="../../assets/subject.svg" alt="Subject Icon">
            <p>Subjects</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('professor')" [class.clicked]="activeButton === 'professor'">
        <button routerLink="/professor" class="menu-content">
            <img src="../../assets/professor.svg" alt="Professor Icon">
            <p>Professor</p>
        </button>
    </div>
    <div class="menu-container" (click)="onButtonClick('student')" [class.clicked]="activeButton === 'student'">
        <div class="flex justify-between items-center schedule-arrow" (click)="toggleStudentDropdown($event)">
            <button class="menu-content">
                <img src="../../assets/student.svg" alt="Schedule Icon">
                <p>Student</p>
            </button>
            <mat-icon>{{ isDropdownOpenStudent ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </div>
    </div>
    @if(isDropdownOpenStudent) {
        <div class="dropdown-content flex flex-col">
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/student')">List of Student</button>
            </div>
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/attendance')">List of Attendance</button>
            </div>
        </div>
    }
    <div class="menu-container" (click)="onButtonClick('maintenance')" [class.clicked]="activeButton === 'maintenance'">
        <div class="flex justify-between items-center schedule-arrow" (click)="toggleMaintenanceDropdown($event)">
            <button class="menu-content">
                <img src="../../assets/maintenance.svg" alt="Maintenance Icon">
                <p>Maintenance</p>
            </button>
            <mat-icon>{{ isDropdownOpenMaintenance ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </div>
    </div>
    @if(isDropdownOpenMaintenance) {
        <div class="dropdown-content flex flex-col">
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/laboratory')">Laboratory</button>
            </div>
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/program')">Program</button>
            </div>
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/school-year')">School Year</button>
            </div>
            <div class="hover:bg-lightGray hover:text-white rounded-tr-lg rounded-br-lg">
                <button (click)="navigateTo('/section')">Section</button>
            </div>
        </div>
    }
  }
  @if(getRole() === "FACULTY"){
    <div class="menu-container" (click)="onButtonClick('attendance')" [class.clicked]="activeButton === 'attendance'">
      <button routerLink="/faculty-attendance" class="menu-content">
        <img src="../../assets/schedule.svg" alt="Attendance Icon">
        <p>Attendance</p>
      </button>
    </div>
  }
  @if(getRole() === "STUDENT"){
    <div class="menu-container" (click)="onButtonClick('schedules')" [class.clicked]="activeButton === 'schedules'">
      <button routerLink="/student-schedule" class="menu-content">
        <img src="../../assets/schedule.svg" alt="Schedule Icon">
        <p>Schedule</p>
      </button>
    </div>
  }
</mat-nav-list>
<div class="bottom-container">
    <div class="line-container">
        <img src="../../assets/line.svg">
    </div>
    <div class="logout-container">
        <button class="logout-content" (click)="openLogoutDialog()">
            <img src="../../assets/logout.svg" alt="Logout Icon">
            <p>Logout</p>
        </button>
    </div>
</div>
