* {
    font-family: 'Roboto';
}

.toolbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.biosync-logo {
    width: 150px;
    height: 150px;
}

.list-container {
    margin-top: 4.5rem;
    flex: 1;
    height: calc(100vh - 400px);
    overflow-y: auto;
}

.menu-container {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    transition: background 0.5s ease, color 0.5s ease;
}

.menu-content {
    margin-left: 5%;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 17.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-content img {
    transition: filter 0.3s ease;
}

.menu-content p {
    transition: color 0.3s ease;
    font-size: 24px;
}

.menu-container.clicked {
    background: linear-gradient(90deg, #9F0303, #D31119, #E4581D);
}

.menu-container.clicked p {
    color: #FFFFFF;
}

.menu-container.clicked img {
    filter: brightness(0) invert(1);
}

.bottom-container {
    margin-top: 5rem;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-container img {
    width: 90%;
}

.logout-container {
    display: flex;
    flex-direction: column;
}

.logout-content {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 5%;
    background: none;
    border: none;
    cursor: pointer;
}

.logout-content p {
    font-size: 24px;
    color: #A20704;
}
