.toolbar-container {
    margin-top: 2rem;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.example-full-width {
  width: 100%;
}

.mat-step-header {
    pointer-events: none;
    background: none !important;
}

.mat-step-header[aria-selected="true"] .mat-step-icon {
    background-color: white;
    border: 2px solid #F84C42;
    color: #F84C42;
}
  
.mat-step-header[aria-selected="true"] .mat-step-label {
    color: #F84C42;
}

.mat-step-header[ng-reflect-state="edit"] .mat-step-icon {
    background-color: #F84C42;
    border: 2px solid #F84C42;
    color: white;
}

.mat-step-header[ng-reflect-state="edit"] .mat-step-label {
    color: #7F7F7F;
}

.mat-step-header[ng-reflect-state="number"]:not([ng-reflect-state="edit"]):not([aria-selected="true"]) .mat-step-icon {
    background-color: #E3E3E3;
    border: 2px solid #E3E3E3;
    color: #393939;
}

.mat-step-header[ng-reflect-state="number"]:not([ng-reflect-state="edit"]):not([aria-selected="true"]) .mat-step-label {
    color: #7F7F7F;
}

@media (max-width: 1462px) {
    .row-block {
        width: 70%;
    }
}

@media (max-width: 1100px) {
    .back-button, .add-button {
        font-size: 14px;
        padding: 8px 45px;
    }
}

@media (max-width: 650px) {
    .toolbar-container span {
        font-size: 24px;
    }

    .form-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-button button{
        font-size: 8px;
        padding: 1px 2px;
    }

    .row-block {
        width: 80%;
    }
}

@media (max-width: 535px) {
    .button-content {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .row-block {
        width: 80%;
    }
}

@media (max-width: 370px) {
    .row-block {
        width: 90%;
    }
}
