.toolbar-container {
    margin-top: 5rem;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.example-full-width {
  width: 100%;
}

.form-button button{
    font-size: 14px;
    padding: 12px 60px;
    background-color: #F84C42;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.form-button button:hover {
    background-color: #7a2521;
}

@media (max-width: 1462px) {
    .row-block {
        width: 70%;
    }
}

@media (max-width: 1100px) {
    .back-button, .add-button {
        font-size: 14px;
        padding: 8px 45px;
    }
}

@media (max-width: 650px) {
    .toolbar-container span {
        font-size: 24px;
    }

    .form-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-button button{
        font-size: 8px;
        padding: 1px 2px;
    }

    .row-block {
        width: 80%;
    }
}

@media (max-width: 535px) {
    .button-content {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .row-block {
        width: 80%;
    }
}

@media (max-width: 370px) {
    .row-block {
        width: 90%;
    }
}