<div class="flex justify-center items-center">
    <mat-toolbar class="toolbar-container">
        <span class="text-custom-32 text-brightRed">View Laboratory</span>
    </mat-toolbar>
</div>
<div class="flex justify-center items-center">
    <div class="mt-2 w-[94%] bg-white py-4 px-4 rounded-2xl">
        <div class="flex flex-col gap-6">
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Laboratory Name:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ laboratory.name }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Room Code:
                </p>
                <p class="text-darkGray text-custom-16 w-2/3 data [80%]">
                    {{ laboratory.roomCode }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Capacity:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ laboratory.capacity }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-center items-center">
    <div class="mt-28 flex justify-end w-[94%] button-content">
        <button class="text-custom-14 text-white py-2 px-19
            bg-gradient-red-orange rounded-full
            hover:bg-gradient-dark-red-orange hover:text-f4White"
            (click)="returnToLaboratoryView()">
            Back
        </button>
    </div>
</div>
