.toolbar-container {
    margin-top: 2rem;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.example-full-width {
  width: 100%;
}

.mat-step-header {
    pointer-events: none;
    background: none !important;
}

.mat-step-header[aria-selected="true"] .mat-step-icon {
    background-color: white;
    border: 2px solid #F84C42;
    color: #F84C42;
}
  
.mat-step-header[aria-selected="true"] .mat-step-label {
    color: #F84C42;
}

.mat-step-header[ng-reflect-state="edit"] .mat-step-icon {
    background-color: #F84C42;
    border: 2px solid #F84C42;
    color: white;
}

.mat-step-header[ng-reflect-state="edit"] .mat-step-label {
    color: #7F7F7F;
}

.mat-step-header[ng-reflect-state="number"]:not([ng-reflect-state="edit"]):not([aria-selected="true"]) .mat-step-icon {
    background-color: #E3E3E3;
    border: 2px solid #E3E3E3;
    color: #393939;
}

.mat-step-header[ng-reflect-state="number"]:not([ng-reflect-state="edit"]):not([aria-selected="true"]) .mat-step-label {
    color: #7F7F7F;
}

button.mat-stepper-previous {
    padding: 8px 60px !important;
    color: #7F7F7F !important;
    border: 2px solid #7F7F7F !important;
    border-radius: 20px !important;
    background: transparent !important;
}

.cancel-button {
    padding: 8px 50px !important;
    color: #7F7F7F !important;
    border: 2px solid #7F7F7F !important;
    border-radius: 20px !important;
    background: transparent !important;
}

button.mat-stepper-next {
    color: white !important;
    padding: 8px 60px !important;
    background: linear-gradient(to right, #F84C42, #F9653F, #FB7E3C) !important; 
    border: none !important;
    border-radius: 20px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

button.mat-stepper-next:hover {
    background: linear-gradient(to right, #D33C33, #C54D31, #B75E2E) !important;
}

.add-button {
    color: white !important;
    padding: 8px 60px !important;
    background: linear-gradient(to right, #F84C42, #F9653F, #FB7E3C) !important; 
    border: none !important;
    border-radius: 20px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.add-button:hover {
    background: linear-gradient(to right, #D33C33, #C54D31, #B75E2E) !important;
}

.drop-area {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;
    height: 275px;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
  
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.displayed-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
  
.upload-message {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  gap: 30px;
}

.camera-icon {
    color: white;
    font-size: 75px;
    width: 75px;
    height: 75px;
    display: inline-block;
}

.fingerprint-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.fingerprint {
    width: 200px;
    height: 300px;
    padding: 20px;
    background: linear-gradient(to right, #F84C42, #F9653F, #FB7E3C);
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fingerprint-scanned {
    background: #54C98B;
}

.check-container {
	width: 6.25rem;
	height: 7.5rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}

.check-background {
	width: 100%;
	height: calc(100% - 1.25rem);
	background: white;
	box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
		0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	transform: scale(0.84);
	border-radius: 50%;
	animation: animateContainer 0.65s ease-out forwards 0.65s;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.check-background svg {
	width: 65%;
	transform: translateY(0.25rem);
	stroke-dasharray: 80;
	stroke-dashoffset: 80;
	animation: animateCheck 0.25s forwards 1.15s ease-out;
}

@keyframes animateContainer {
	0% {
		opacity: 0;
		transform: scale(0);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	25% {
		opacity: 1;
		transform: scale(0.9);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	43.75% {
		transform: scale(1.15);
		box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	62.5% {
		transform: scale(1);
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
	}
	81.25% {
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
	100% {
		opacity: 1;
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
}

@keyframes animateCheck {
	from {
		stroke-dashoffset: 80;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@media (max-width: 1462px) {
    .row-block {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    button[matStepperPrevious], button[matStepperNext] {
        font-size: 14px !important;
        padding: 4px 30px !important;
    }

    .cancel-button, .add-button {
        font-size: 14px !important;
        padding: 4px 20px !important;
    }
}

@media (max-width: 1100px) {
    .fingerprint-container {
        justify-content: center;
        flex-direction: column;
        gap: 80px;

    }
}

@media (max-width: 650px) {
    .toolbar-container span {
        font-size: 24px;
    }

    .form-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row-block {
        width: 80%;
    }

    .starting-button {
        padding: 8px 40px;
        font-size: 14px;
    }
}

@media (max-width: 535px) {
    .button-content {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .add-button {
        font-size: 14px !important;
        padding: 8px 20px !important;
    }

    .row-block {
        width: 80%;
    }
}

@media (max-width: 370px) {
    .row-block {
        width: 90%;
    }
}
