<div class="flex justify-center items-center">
  <mat-toolbar class="toolbar-container">
    <span class="text-custom-32 text-brightRed">Add New Student - {{currentStepLabel}}</span>
  </mat-toolbar>
</div>
<div class="flex justify-center items-center mt-8 w-[90%] bg-transparent form-content">
      <mat-stepper [linear]="true" class="flex items-center justify-center align-middle rounded-2xl w-3/4" (selectionChange)="onStepChange($event)" labelPosition="bottom">
        <mat-step [stepControl]="studentForm">
          <div class="flex justify-center align-middle mt-5">
            <form [formGroup]="studentForm" class="w-[70%] flex flex-col gap-4 row-block justify-center align-middle">
              <ng-template matStepLabel>Setup Information</ng-template>
              <div class="group flex flex-col gap-1 relative">
                <label for="student-number" class="text-custom-20
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                  Student Number
                </label>
                <input matInput id="student-number" name="student-number"
                       placeholder="Enter Student number" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1"
                        formControlName="usercode"
                       [class.input-error]="userCodeControl.invalid && userCodeControl.touched">
                    @if(userCodeControl.touched && userCodeControl.invalid) {
                      <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                        @if( userCodeControl.errors?.['required']) {
                          Student Number is required.
                        } @else if(userCodeControl.errors?.['invalidUsercode']) {
                          Invalid Student Number. ex: 2020-00123-TG-0.
                        }
                      </div>
                    }
              </div>

              <div class="group flex flex-col gap-1 relative">
                <label for="first-name" class="text-custom-20
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                  First Name
                </label>
                <input matInput id="first-name" name="first-name"
                       placeholder="Enter student's first name" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="firstName"
                        [class.input-error]="firstNameControl.invalid && firstNameControl.touched">
                    @if(firstNameControl.touched && firstNameControl.invalid) {
                      <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                        @if( firstNameControl.errors?.['required']) {
                          First name is required.
                        } @else if(firstNameControl.errors?.['invalidName']) {
                          Only Letters are Allowed.
                        }
                      </div>
                    }
              </div>

              <div class="group flex flex-col gap-1 relative">
                <label for="last-name" class="text-custom-20
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                  Last Name
                </label>
                <input matInput id="last-name" name="last-name"
                       placeholder="Enter student's last name" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="lastName"
                        [class.input-error]="lastNameControl.invalid && lastNameControl.touched">
                    @if(lastNameControl.touched && lastNameControl.invalid) {
                        <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                            @if( lastNameControl.errors?.['required']) {
                                Last name is required.
                            } @else if(lastNameControl.errors?.['invalidName']) {
                                Only letters are allowed.
                            }
                        </div>
                    }
              </div>

              <div class="group flex flex-col gap-1 relative">
                <label for="middle-name" class="text-custom-20
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                  Middle Name
                </label>
                <input matInput id="middle-name" name="middle-name"
                       placeholder="Enter student's first name" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="middleName"
                        [class.input-error]="middleNameControl.invalid && middleNameControl.touched">
                    @if(middleNameControl.touched && middleNameControl.invalid) {
                        <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                            @if(middleNameControl.errors?.['invalidName']) {
                                Only letters are allowed.
                            }
                        </div>
                    }
              </div>

              <div class="group flex flex-col gap-1 relative">
                <label for="suffix" class="text-custom-20
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                  Suffix
                </label>
                <mat-select id="suffix" name="suffix"
                            placeholder="Choose a student's suffix" class="bg-transparent
                                border-b-2 border-darkGray focus:border-brightRed
                                focus:outline-none transition-colors
                                duration-300 w-full py-2 px-1" formControlName="suffix"
                                [class.input-error]="suffixControl.invalid && suffixControl.touched">
                    <mat-option value="N/A">N/A</mat-option>
                  @for(suffix of allSuffix; track suffix) {
                    <mat-option [value]="suffix.abbreviation">{{suffix.abbreviation}}</mat-option>
                  }
                </mat-select>
                @if(suffixControl.touched && suffixControl.invalid) {
                  <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                      @if(suffixControl.errors?.['required']) {
                          Suffix is required.
                      }
                  </div>
                }
              </div>

              <div class="group flex flex-col gap-1 relative">
                <label for="email" class="text-custom-20
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                  Email Address
                </label>
                <input matInput id="email" name="email"
                       placeholder="Enter student's email" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="email"
                        [class.input-error]="emailControl.invalid && emailControl.touched">
                    @if(emailControl.touched && emailControl.invalid) {
                        <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                            @if(emailControl.errors?.['required']) {
                                Email is Required.
                            } @else if (emailControl.errors?.['invalidEmail']) {
                                Not an email format.
                            }
                        </div>
                    }
              </div>

              <div class="group flex flex-col gap-1 relative">
                <label for="program" class="text-custom-20
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                  Program
                </label>
                <mat-select id="program" name="program"
                        placeholder="Choose a student's program" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="program"
                        (selectionChange)="onProgramChange($event)"
                        [class.input-error]="programControl.invalid && programControl.touched">
                  @for(program of allPrograms; track program) {
                    <mat-option [value]="program.id">{{program.programAbbreviation}}</mat-option>
                  }
                </mat-select>
                @if(programControl.touched && programControl.invalid) {
                  <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                      @if( programControl.errors?.['required']) {
                          Program is required.
                      }
                  </div>
                }
              </div>

              <div class="flex justify-between">
                <div class="group flex flex-col gap-1 w-full relative">
                  <label for="Year" class="text-custom-16
                            text-darkGray transition-colors duration-300
                            group-focus-within:text-brightRed">
                    Year & Section
                  </label>
                  <mat-select id="year" name="year"
                          placeholder="Choose a student's year" class="bg-transparent
                          border-b-2 border-darkGray focus:border-brightRed
                          focus:outline-none transition-colors
                          duration-300 w-full py-2 px-1"
                          formControlName="section"
                          [class.input-error]="sectionControl.invalid && sectionControl.touched">
                    @for(section of filteredSections; track section) {
                      <mat-option [value]="section.id">
                        {{section.year}} - {{section.section}}
                      </mat-option>
                    }
                  </mat-select>
                  @if(sectionControl.touched && sectionControl.invalid) {
                    <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                        @if( sectionControl.errors?.['required']) {
                            Section is required.
                        }
                    </div>
                  }
                </div>
              </div>
              <div class="flex justify-between mt-8 button-content">
                <button mat-button class="cancel-button"
                    (click)="returnToStudentView()">
                    Cancel
                </button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step [stepControl]="imageForm" label="Profile Picture" [completed]="true">
          <div class="flex justify-center align-middle mt-5">
            <form [formGroup]="imageForm" class="w-[70%] flex flex-col gap-4 row-block justify-center align-middle">
              <div class="flex justify-center items-center">
                <label for="fileInput" class="drop-area" *ngIf="!isCameraOpen">
                  <input type="file" id="fileInput"
                    formControlName="profileImage" (change)="onFileChanges($event)"
                    accept="image/*" hidden/>
                  <div class="image-container">
                    @if(imageSrc) {
                      <img [src]="imageSrc" alt="Selected Image" class="displayed-image">
                    }
                  </div>
                  <div class="upload-message">
                    <mat-icon class="camera-icon">camera_alt</mat-icon>
                    <p>Click here to upload image</p>
                  </div>
                </label>
                <video #videoElement class="video-container" *ngIf="isCameraOpen"></video>
              </div>
              <div class="mt-4 flex items-center justify-center">
                <button class="bg-brightRed rounded-xl py-2 px-24 text-white starting-button" (click)="isCameraOpen ? capturePhoto() : openCamera()">{{ captureButtonLabel }}</button>
              </div>
              <div class="mt-4 flex justify-between button-content">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>{{  photoButtonLabel }}</button>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step>
          <div class="flex justify-center align-middle mt-5">
            <div class="w-[70%] flex flex-col gap-4 row-block justify-center align-middle">
              <ng-template matStepLabel>Get Fingerprint</ng-template>
              <div class="flex justify-center items-center flex-col gap-8">
                <div class="fingerprint-container">
                  <div class="flex flex-col gap-2 justify-center">
                    <div class="fingerprint" [ngClass]="{'fingerprint-scanned': isRightThumb}">
                      @if(isRightThumb) {
                        <div class="check-container">
                          <div class="check-background">
                            <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7 25L27.3077 44L58.5 7" stroke="#54C98B" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                          </div>
                        </div>
                      }
                    </div>
                    <p class="text-center">{{ rightThumbState }}</p>
                  </div>
                  @if(hasRightThumb){
                  <div class="flex flex-col gap-2 justify-center">
                    <div class="fingerprint" [ngClass]="{'fingerprint-scanned': isRightIndex}">
                      @if(isRightIndex) {
                        <div class="check-container">
                          <div class="check-background">
                            <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7 25L27.3077 44L58.5 7" stroke="#54C98B" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                          </div>
                        </div>
                      }
                    </div>
                    <p class="text-center">{{ rightIndexState }}</p>
                  </div>
                  }
                </div>
                <div>
                  <button mat-flat-button (click)="resetFingerprint()" [disabled]="disableReset">Reset Fingerprint</button>
                </div>
              </div>
              <div class="mt-4 flex justify-between button-content">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button class="add-button" (click)="submit()">Add Student</button>
              </div>
            </div>
          </div>
        </mat-step>
      </mat-stepper>
</div>
