.main-container {
    display: flex;
    justify-content: space-between;
}

.left-section {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  
}
  
.left-section img {
    height: 100vh;
}

.right-section {
    margin-top: 50px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 175px;
    height: 175px;
}
