<div class="flex flex-col items-center justify-center relative h-[100%] z-[1] p-4">
    <div class="flex flex-col md:flex-row justify-between w-[80%] md:w-[50%] h-auto bg-white rounded-2xl p-6 bg-opacity-85">
        <div class="flex justify-center items-center w-full md:w-1/2 md:mb-0">
            <img class="w-auto h-40 md:w-auto md:h-80 object-contain" src="../../assets/BioSyncLogo.png" alt="BioSync Logo">
        </div>
        <div class="flex items-center flex-col gap-4 w-full md:w-1/2 mx-0 md:mx-10 my-6 md:my-10">
            <div class="flex items-center flex-col gap-1">
                <h1 class="text-darkGray text-custom-24 md:text-custom-40 font-medium text-center">Welcome</h1>
                <p class="text-lightGray text-custom-12 md:text-custom-16 text-center">Please choose below to proceed</p>
            </div>
            <div class="flex flex-col gap-4 w-full">
                <button class="text-custom-14 md:text-custom-16 text-white py-2 px-4 md:py-2.5 md:px-6
                    bg-brightRed rounded-2xl
                    hover:bg-darkRed hover:text-f4White"
                    (click)="navigateTo('/student-login')">
                    Student
                </button>
                <button class="text-custom-14 md:text-custom-16 text-white py-2 px-4 md:py-2.5 md:px-6
                    bg-brightRed rounded-2xl
                    hover:bg-darkRed hover:text-f4White"
                    (click)="navigateTo('/faculty-login')">
                    Faculty
                </button>
                <button class="text-custom-14 md:text-custom-16 text-white py-2 px-4 md:py-2.5 md:px-6
                    bg-brightRed rounded-2xl
                    hover:bg-darkRed hover:text-f4White"
                    (click)="navigateTo('/visitor-log')">
                    Visitor
                </button>
                <button class="text-custom-14 md:text-custom-16 text-white py-2 px-4 md:py-2.5 md:px-6
                    bg-brightRed rounded-2xl
                    hover:bg-darkRed hover:text-f4White"
                    (click)="navigateTo('/admin-login')">
                    Admin In-Charge
                </button>
            </div>
        </div>
    </div>
</div>
