<div class="fixed inset-0 overflow-hidden z-[-1] bg-gradient-red-orange"></div>
<div class="flex justify-center items-center h-screen">
    <div class="flex flex-col justify-center items-center shadow-xl">
        <div class="login-image w-[750px] h-[150px] rounded-tl-2xl rounded-tr-2xl opacity-80"></div>
        <div class="flex justify-center bg-white w-[750px] h-[500px] rounded-bl-2xl rounded-br-2xl">
            <form class="flex flex-col w-[85%]">
                <div class="mt-12 flex flex-col gap-2">
                    <p class="text-custom-32 text-black font-weight700">Forget Password</p>
                    <p class="text-custom-16 text-lightGray font-weight400">Please enter your email address below, and we'll send you a link to reset it.</p>
                </div>
                <div class="group relative flex items-center mt-10 w-[400px]">
                    <mat-icon class="absolute left-2 text-lightGray transition-colors duration-300 group-focus-within:text-brightRed">email</mat-icon>
                    <input matInput id="email" name="email"
                        placeholder="Email Address" class="bg-transparent
                        border-b-2 border-lightGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full pl-12 pr-20 py-2 md:py-4 text-custom-20" formControlName="email">
                </div>   
                <button class="text-custom-20 mt-8 text-white py-2 px-10 w-[400px]
                    bg-gradient-red-orange rounded-xl hover:bg-gradient-dark-red-orange
                    hover:text-f4White add-button">
                    Send
                </button>       
            </form>
        </div>
    </div>
</div>