.background-container {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1682' height='332' preserveAspectRatio='none' viewBox='0 0 1682 332'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1520%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c250 C 48.2%2c202.8 144.6%2c20.4 241%2c14 C 337.4%2c7.6 385.6%2c203 482%2c218 C 578.4%2c233 626.6%2c77.6 723%2c89 C 819.4%2c100.4 867.6%2c271.6 964%2c275 C 1060.4%2c278.4 1108.6%2c115.8 1205%2c106 C 1301.4%2c96.2 1350.6%2c241.8 1446%2c226 C 1541.4%2c210.2 1634.8%2c66.8 1682%2c27L1682 332L0 332z' fill='rgba(239%2c 233%2c 233%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1520'%3e%3crect width='1682' height='332' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header,
.filter-container,
.table-container,
.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-container {
    margin-top: 2rem;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.toolbar-container span {
    font-size: 32px;
    color: #AB3130;
}

.toolbar-button {
    display: flex;
    gap: 30px;
    position: relative;
}

.header-button {
    font-size: 12px;
    padding: 4px 40px;
    background-color: #AB3130;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.header-button:hover {
    background-color: #800c10;
}

.dropdown-icon {
    position: absolute;
    right: 240px;
    top: 50%; 
    transform: translateY(-50%);
}

.add-schedule-content {
    position: absolute;
    top: 100%; 
    left: 0%; 
    width: 210px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.add-schedule-content div {
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    padding: 4px 8px;
    margin: 0;
}

.filter-content {
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.select-semester-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 22%;
}

.select-semester-container mat-select {
    color: #7F7F7F;
    font-size: 12px;
    cursor: pointer;
}

.select-semester-container mat-select::before {
    border-bottom-color: #7F7F7F !important;
}

.dropdown-content {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.entry-container {
    display: flex;
    gap: 10px;
}

.entry-container span {
    color: #AB3130;
    font-size: 12px;
}

.entry-container select {
    color: #7F7F7F;
    border: 1px solid #F2E8E9;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.sort-container select {
    color: #AB3130;
    border: 1px solid #F2E8E9;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.subject-table {
    width: 94%;
    margin: 20px 0;
    font-size: 16px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.attributes {
    font-weight: bold;
    font-size: 12px;
    color: #AB3130;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 18px;
    display: flex;
}

.row-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 350px);
    overflow-y: auto;
}

.row {
    font-size: 12px;
    display: flex;
    align-items: center; 
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 18px;
    position: relative;
    overflow: visible;
    justify-content: space-between;
}

.subject-table .cell {
    flex: 1;
    padding: 0 10px;
    text-align: left;
}

.subject-table .cell:last-child {
    flex: 0 0 180px;
}

.action-container {
    padding-top: 10px;
    border-top: 3px solid #AB3130;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    top: 70%;
    right: 40;
}

.action-container.bottom-action {
    top: unset;
    bottom: 70%; 
    border-bottom-left-radius: unset; 
    border-bottom-right-radius: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: unset;
    border-top: unset;
    padding-bottom: 10px;
    border-bottom: 3px solid #AB3130;
}

.action-button {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 12px;
    width: 100%;
}

.action-button:hover {
    background: #F2E8E9;
}

.line-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-container img {
    width: 94%;
}

.paginator {
    margin-top: 8px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.paginator-info {
    color: #393939;
    font-size: 12px;
}

.paginator-controls {
    display: flex;
    align-items: center;
}

.paginator-controls span {
    color: #393939;
    font-size: 12px;
}

.paginator-controls select {
    color: #393939;
    border: 1px solid #393939;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f9f9f9;
    cursor: pointer;
    margin: 0 10px;
}

.paginator-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.paginator-button-container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    padding: 10px 20px;
    color: #7F7F7F;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.paginator-button-container button.active-button {
    color: #AB3130;
}

.paginator-button-container img {
    height: 15px;
    width: 15px;
}

.paginator-button-container img.active-icon {
    filter: invert(41%) sepia(68%) saturate(6900%) 
    hue-rotate(336deg) brightness(100%) contrast(101%);
}

.row-container::-webkit-scrollbar {
    width: 8px;
}

.row-container::-webkit-scrollbar-track {
    background-color: #E3E3E3;
    border-radius: 10px;
}

.row-container::-webkit-scrollbar-thumb {
    background-color: #D33C33;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
}

.row-container::-webkit-scrollbar-thumb:hover {
    background-color: #F9653F;
}
