<div class="background-container">
    @if(!isAddVisitPurpose) {
        @if(!isEditVisitPurpose) {
            <div class="header">
                <mat-toolbar class="toolbar-container">
                    <span>List of Purpose of Visit - ALL</span>
                    <div class="toolbar-button">
                        <button class="header-button" (click)="toggleAddVisitPurpose()">Add New Visit Purpose</button>
                        <button class="header-button">Print Visit Purpose Reports</button>
                    </div>
                </mat-toolbar>
            </div>
            <div class="filter-container">
                <mat-toolbar class="filter-content">
                    <div class="search-container">
                        <mat-icon class="search-icon">search</mat-icon>
                        <input type="text" placeholder="SEARCH">
                    </div>
                </mat-toolbar>
            </div>
            @if(filteredVisitPurposes.length > 0) {
            <div class="table-container">
                    <div class="subject-table">
                        <div class="attributes text-custom-16">
                            <div class="cell">Purpose of Visit</div>
                            <div class="cell">Action</div>
                        </div>
                        <div class="row-container text-custom-12">
                            @for (visitPurpose of filteredVisitPurposes; track visitPurpose) {
                                <div class="row">
                                    <div class="cell">{{ visitPurpose.purposeOfVisit }}</div>
                                    <div class="cell">
                                        <button (click)="toggleDropdownAction(visitPurpose.id)" class="dropdown-toggle"><mat-icon>more_horiz</mat-icon></button>
                                        @if(activeDropdownId === visitPurpose.id) {
                                            <div class="action-container" [ngClass]="{
                                                'bottom-action': filteredVisitPurposes.length >= 4 && (filteredVisitPurposes[filteredVisitPurposes.length - 1] === visitPurpose || filteredVisitPurposes[filteredVisitPurposes.length - 2] === visitPurpose)}">
                                                <button class="action-button" (click)="toggleEditVisitPurpose(visitPurpose)">Edit</button>
                                                <button class="action-button" (click)="openDeleteDialog(visitPurpose)">Delete</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                    <div class="line-container">
                    <img src="../../assets/black-line.svg">
                </div>
                <div class="bottom-container">
                    <div class="paginator">
                        <div class="paginator-info">
                          {{ getDisplayRange() }} of {{ totalItems }}
                        </div>
                        <div class="paginator-controls">
                          <div>
                            <span>Sort By</span>
                            <select>
                              @for (sort of sorting; track sort) {
                                <option [value]="sort">{{ sort }}</option>
                              }
                            </select>
                          </div>
                          <div>
                            <span>Show Entries</span>
                            <select [(ngModel)]="itemsPerPage"
                                (change)="onItemsPerPageChange()">
                              @for (entry of entries; track entry) {
                                <option [value]="entry" [selected]="entry === '10'">
                                  {{ entry }}
                                </option>
                              }
                            </select>
                          </div>
                          <div>
                            <span>Page</span>
                            <select [(ngModel)]="currentPage" (change)="onPageChange()">
                              @for (page of pages; track page) {
                                  <option [value]="page">{{ page }}</option>
                              }
                            </select>
                          </div>
                          <div class="paginator-button-container">
                            <button (click)="previousPage()"
                                    [disabled]="currentPage === 1"
                                    [ngClass]="{'active-button': currentPage > 1}">
                                <img src="../../assets/previous.svg"
                                        alt="Previous Icon"
                                        [ngClass]="{'active-icon': currentPage > 1}">
                                Previous
                            </button>
                            <button (click)="nextPage()"
                                    [disabled]="currentPage === totalPages"
                                    [ngClass]="{'active-button': currentPage < totalPages}">
                                Next
                                <img src="../../assets/next.svg"
                                        alt="Next Icon"
                                        [ngClass]="{'active-icon': currentPage < totalPages}">
                            </button>
                          </div>
                        </div>
                    </div>
                </div>
            } @else {
            <div class="flex justify-center items-center h-[50vh]">
                No Purpose Data Yet.
            </div>
            }
        } @else {
            <app-edit-visit-purpose
              [purposeToEdit]="visitPurposeToEdit"
              (editedPurpose)="onPurposeUpdate($event)"
              (backToEditVisitPurpose)="handleBackToEditVisitPurpose()"/>
        }
    } @else {
        <app-add-visit-purpose (purposeAdded)="onPurposeAdded($event)" (backToVisitPurpose)="handleBackToVisitPurpose()"/>
    }
</div>
