<div class="flex justify-center items-center">
    <mat-toolbar class="toolbar-container">
        <span class="text-custom-32 text-brightRed">Add New Laboratory</span>
    </mat-toolbar>
</div>
<div class="flex justify-center items-center">
    <form class="mt-8 flex justify-between w-[90%] bg-transparent form-content" [formGroup]="laboratoryForm">
        <div class="w-[55%] flex flex-col gap-6 row-block">
            <div class="group flex flex-col gap-1 relative">
                <label for="name" class="text-custom-16
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                        Laboratory Name
                </label>
                <input matInput id="name"
                    name="name"
                    placeholder="Enter laboratory name"
                    class="bg-transparent border-b-2 border-darkGray
                    focus:border-brightRed focus:outline-none
                    transition-colors duration-300 w-full py-2 px-1"
                    formControlName="name"
                    [class.input-error]="nameControl.invalid && nameControl.touched">
                @if(nameControl.touched && nameControl.invalid) {
                    <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                        @if( nameControl.errors?.['required']) {
                            Laboratory name is required.
                        } @else if(nameControl.errors?.['invalidName']) {
                            Only letters are allowed.
                        }
                    </div>
                }
            </div>
            <div class="group flex flex-col gap-1 relative">
                <label for="room-code" class="text-custom-16
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                        Room Code
                </label>
                <input matInput id="room_code"
                    name="room-code"
                    placeholder="Enter the room code"
                    class="bg-transparent border-b-2 border-darkGray
                    focus:border-brightRed focus:outline-none
                    transition-colors duration-300 w-full py-2 px-1"
                    formControlName="roomCode"
                    [class.input-error]="roomCodeControl.invalid && roomCodeControl.touched">
                @if(roomCodeControl.touched && roomCodeControl.invalid) {
                    <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                        @if( roomCodeControl.errors?.['required']) {
                            Room Code is required.
                        } @else if(roomCodeControl.errors?.['invalidRoomCode']) {
                            Only letters, numbers, and hyphens are allowed.
                        }
                    </div>
                }
            </div>
            <div class="group flex flex-col gap-1 relative">
                <label for="capacity" class="text-custom-20
                    text-darkGray transition-colors duration-300
                    group-focus-within:text-brightRed">
                    Capacity
                </label>
                <input matInput id="capacity"
                    name="capacity" type="number"
                    placeholder="Enter a number capacity"
                    class="bg-transparent border-b-2 border-darkGray
                    focus:border-brightRed focus:outline-none
                    transition-colors duration-300 w-full py-2 px-1"
                    formControlName="capacity"
                    [class.input-error]="capacityControl.invalid && capacityControl.touched">
                @if(capacityControl.touched && capacityControl.invalid) {                   
                    <div class="text-brightRed text-custom-16 absolute right-0 bottom-[-2rem]">
                        @if(capacityControl.errors?.['required']) {
                            Laboratory Capacity is required.
                        } @else if(capacityControl.errors?.['min']) {
                            Minimum laboratory capacity limit is 1.
                        } @else if(capacityControl.errors?.['max']) {
                                Maximum laboratory capacity limit is 80.
                        } @else if (capacityControl.errors?.['invalidCapacity']) {
                            Capacity must be a whole number.
                        }
                    </div>
                }
            </div>
            <div class="flex flex-col justify-end gap-4 mt-10">
                <div class="flex gap-[40px] justify-end button-content">
                    <button class="text-custom-14 text-lightGray py-2
                        px-20 border-2 rounded-full border-lightGray back-button"
                        (click)="returnToLaboratoryView()">
                        Back
                    </button>
                    <button class="text-custom-14 text-white py-2 px-19
                        bg-gradient-red rounded-full
                        hover:bg-gradient-dark-red hover:text-f4White add-button"
                        (click)="submit()">
                        Add Laboratory
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
