<div class="flex items-center justify-center h-screen">
    <div class="gap-8 flex flex-row">
        <div class="w-[25vw] h-[90vh] bg-white rounded-xl flex justify-center items-center">
            <div class="w-[23vw] h-[85vh] flex justify-start flex-col">
                <div class="flex flex-col gap-3">
                    <p class="text-custom-24 text-brightRed">
                        {{ schedule.subject?.code }} - {{ schedule.subject?.name }}
                    </p>
                    <div class="flex flex-col">
                        <p class="text-lightGray text-custom-12">Professor</p>
                        <p class="text-custom-16 font-medium text-darkGray">
                            {{ schedule.professor?.firstName }}
                            {{ schedule.professor?.lastName }}
                        </p>
                    </div>
                </div>
                <div class="flex flex-col gap-2 mt-12">
                    <p class="text-brightRed text-custom-24">Attendance List</p>
                    <hr class="border-t border-1 border-brightRed">
                </div>
                <div class=" mt-5 h-[55vh] overflow-y-auto row-container">
                    <div class="">

                    </div>
                    @for(student of logstudents; track student) {
                        <p class="text-darkGray text-custom-16">{{ logstudents.indexOf(student) + 1 }}. {{ student }}</p>
                    }
                </div>
                @if (hasProfessorVerified) {
                    <div class="flex-grow"></div>
                    <div class="flex justify-center items-center">
                      <button mat-flat-button
                        (click)="openConfirmationDialog(schedule)"
                        class="stop-attendance">
                        Stop Attendance
                      </button>
                    </div>
                }
            </div>
        </div>
        <div class="w-[54vw] h-[90vh] flex flex-col justify-between">
            <div class="flex flex-row gap-8 bg-transparent">
                <div class="flex justify-start w-[15vw] p-4 items-center rounded-2xl bg-brightRed text-white">
                    <div class="flex flex-col">
                        <p class="text-custom-40">{{ currentTime }}</p>
                        <p class="text-custom-16 current-date">{{ currentDate }}</p>
                    </div>
                </div>
                <div class="flex justify-between w-[15vw] p-4 items-center rounded-2xl bg-brightRed text-white">
                    <div class="flex flex-col">
                        <p class="text-custom-40">{{ logstudents.length }}</p>
                        <p class="text-custom-16">Total of Students Logged</p>
                    </div>
                </div>
            </div>
            <div class="h-[75vh] w-full bg-gradient-red-orange rounded-xl flex justify-center items center">
                <div class="flex flex-col w-[45vw] justify-center gap-4">
                    @if (!hasProfessorVerified) {
                        <p class="text-custom-32 text-f2White font-medium">
                            @if(!loggedProfessor){
                                {{reminder}}
                            } @else if(loggedProfessor) {
                                {{reminder}}
                            }
                        </p>
                        <div class="flex flex-row gap-8">
                            <div class="w-[23vw] rounded-xl h-[55vh] bg-white flex justify-center flex-col gap-9">
                                <div class="flex justify-center">
                                    <div class="w-[20vw] flex justify-center items-center flex-col gap-8">
                                        <div id="div1" style="position: relative;">
                                            <video #videoElement id="videoElement" muted autoplay></video>
                                            <canvas #overlay id="overlay" style="position: absolute; top: 0; left: 0; pointer-events: none;"></canvas>
                                        </div>
                                        <p class="text-lightGray text-custom-14">Please center your face in the camera frame for a clear scan. Make sure your entire face is visible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-[23vw] rounded-xl h-[55vh] bg-white flex justify-center gap-9">
                                <div class="flex justify-center flex-col gap-24">
                                    <div class="w-[20vw] flex justify-center items-center">
                                        <div class="image-area">
                                            @if(!loggedProfessor) {
                                                    <img src="../../../assets/face-recognition.png" alt="face recognition logo">
                                            } @else if(loggedProfessor) {
                                                <div class="upload-message">
                                                    @if (profileImageUrl) {
                                                      <img
                                                        src="{{ profileImageUrl }}"
                                                        alt="user profile image"
                                                      />
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="flex gap-6 flex-col w-[20vw] justify-center items-center">
                                        @if(loggedProfessor) {
                                            <div class="flex flex-col">
                                                <p class="text-lightGray text-custom-16">In-Charge Name</p>
                                                <p class="text-brightRed text-custom-24 font-weight400">
                                                    {{ loggedProfessor.firstName }}
                                                    {{ loggedProfessor.lastName }}
                                                </p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    } @else {
                        <p class="text-custom-32 text-f2White font-medium">
                            @if (loggedStudent) {
                                WELCOME
                            } @else if(!loggedStudent) {
                                {{reminder}}
                            }
                        </p>
                        <div class="flex flex-row gap-8">
                            <div class="w-[23vw] rounded-xl h-[55vh] bg-white flex justify-center flex-col gap-9">
                                <div class="flex justify-center">
                                    <div class="w-[20vw] flex justify-center items-center flex-col gap-8">
                                        <div class="camera-area">
                                            <div class="upload-message">
                                                @if (profileImageUrl) {
                                                  <img
                                                    src="{{ profileImageUrl }}"
                                                    alt="user profile image"
                                                  />
                                                } @else {
                                                  <mat-icon class="camera-icon">camera_alt</mat-icon>
                                                }
                                            </div>
                                        </div>
                                        <p class="text-lightGray text-custom-14">Please center your face in the camera frame for a clear scan. Make sure your entire face is visible</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-[23vw] rounded-xl h-[55vh] bg-white flex justify-center gap-9">
                                <div class="flex justify-center flex-col gap-16">
                                    <div class="w-[20vw] flex justify-center items-center">
                                        <div class="image-area">
                                            @if(!loggedStudent) {
                                                    <img src="../../../assets/face-recognition.png" alt="face recognition logo">
                                            } @else if(loggedStudent) {
                                                <div class="upload-message">
                                                    @if (profileImageUrl) {
                                                      <img
                                                        src="{{ profileImageUrl }}"
                                                        alt="user profile image"
                                                      />
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="flex flex-col w-[20vw] justify-center items-center">
                                        <div class="flex flex-col justify-center gap-4">
                                            @if(loggedStudent) {
                                                <div class="flex flex-col">
                                                    <p class="text-lightGray text-custom-16">Student's Name</p>
                                                    <p class="text-brightRed text-custom-24 font-weight400">
                                                        {{ loggedStudent.firstName }} {{ loggedStudent.lastName }}
                                                    </p>
                                                </div>
                                                <div class="flex flex-col">
                                                    <p class="text-lightGray text-custom-16">Student Number</p>
                                                    <p class="text-darkGray text-custom-20 font-weight400">
                                                        {{ loggedStudent.usercode }}
                                                    </p>
                                                </div>
                                                <div class="flex flex-col">
                                                    <p class="text-lightGray text-custom-16">
                                                        Course Year & Section
                                                    </p>
                                                    <p class="text-darkGray text-custom-16 font-weight400">
                                                        {{ loggedStudent.section?.year }}
                                                        - {{ loggedStudent.section?.section }}
                                                    </p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>