<div class="flex justify-center items-center">
    <mat-toolbar class="toolbar-container">
        <span class="text-custom-32 text-brightRed">Edit Schedule</span>
    </mat-toolbar>
</div>
<div class="flex justify-center items-center">
    <div class="w-[94%] bg-transparent">
        <p class="text-custom-16 text-lightGray schedule-reminder">
            Reminder! For scheduling of make-up classes, please make sure
            that the professor, laboratory room, section, and semester are
            the same as the regular class.
        </p>
    </div>
</div>
<div class="flex justify-center items-center">
    <div class="mt-8 w-[94%] bg-white py-4 px-4 rounded-2xl">
        <div class="flex flex-col gap-6">
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Subject Code:
                </p>
                <p class="text-darkGray text-custom-16 w-[80%] data">
                    {{ scheduleToEdit.subject?.code }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Subject Description:
                </p>
                <p class="text-darkGray text-custom-16 w-[80%] data">
                    {{ scheduleToEdit.subject?.description }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-center items-center">
    <form class="mt-8 flex justify-between w-[94%] bg-transparent form-content" [formGroup]="editScheduleForm">
        <div class="w-[48%] flex flex-col gap-4 row-block">
            <div class="group flex flex-col gap-1">
                <label for="section" class="text-custom-16
                    text-darkGray transition-colors duration-300
                    group-focus-within:text-brightRed">
                    Section
                </label>
                <mat-select id="section" name="section"
                        placeholder="Select Section" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="section">
                        @for(section of sections; track section) {
                            <mat-option [value]="section.id">
                              {{ section.program.programAbbreviation }}
                              {{section.year}} - {{section.section}}
                            </mat-option>
                        }
                </mat-select>
            </div>
            <div class="flex justify-between sub-form-content">
                <div class="group flex flex-col gap-1 w-[47%] sub-row-block">
                    <label for="start-time" class="text-custom-16
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                        Start Time
                    </label>
                    <input matInput id="start-time" name="start-time"
                        value="00:00" type="time" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="startTime">
                </div>
                <div class="group flex flex-col gap-1 w-[47%] sub-row-block-two">
                    <label for="end-time" class="text-custom-16
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                        End Time
                    </label>
                    <input matInput id="end-time" name="end-time"
                        value="00:00" type="time" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="endTime">
                </div>
            </div>
            @if(isOneSchedule) {
                <div class="group flex flex-col gap-1">
                    <label for="subject-date" class="text-custom-16
                        text-darkGray transition-colors duration-300
                        group-focus-within:text-brightRed">
                        Schedule Date
                    </label>
                  <div class="flex border-b-2 border-darkGray">
                    <input
                      class="bg-transparent
                        focus:border-brightRed focus:outline-none
                        transition-colors duration-300 w-full py-2 px-1"
                      [ngClass]="formattedDateString ? '' : 'hidden'"
                      value="{{formattedDateString}}"
                      readonly
                    >
                    <input matInput id="subject-date"
                           placeholder="Select Date"
                           name="schedule-date"
                           [matDatepicker]="picker"
                           [ngClass]="formattedDateString ?
                            'opacity-0 w-1/12' : 'w-full'"
                           class="bg-transparent placeholder-darkGray
                        focus:border-brightRed focus:outline-none
                        transition-colors duration-300 py-2 px-1"
                           formControlName="scheduleDate" [min]="today"
                           (dateChange)="onDateChange($event)"
                    readonly>
                    <button (click)="picker.open()">
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Calendar Icon"
                        fontIcon="calendar_today"
                        class="text-black text-xl"></mat-icon>
                    </button>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
            }
            @if(isWeeklySchedule) {
                <div class="flex justify-between sub-form-content">
                    <div class="group flex flex-col gap-1 w-[47%] sub-row-block">
                        <label for="recurrence" class="text-custom-16
                            text-darkGray transition-colors duration-300
                            group-focus-within:text-brightRed">
                            Select a Day
                        </label>
                        <div class="flex justify-between bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-1 px-1">
                            @for(day of weekDays; track day) {
                                <div class="inline-block w-7 h-7 leading-30px text-center
                                    text-custom-14 rounded-full bg-semiGray text-darkGray
                                    mr-1 cursor-pointer bubble"
                                    [class.selected]="customRecurrence.days.includes(day)"
                                    (click)="toggleDaySelection(day)">
                                    {{ day }}
                                </div>
                            }
                        </div>
                    </div>
                    <div class="group flex flex-col gap-1 w-[47%] sub-row-block-two">
                        <label for="recurrence" class="text-custom-16
                            text-darkGray transition-colors duration-300
                            group-focus-within:text-brightRed">
                            Recurrence
                        </label>
                        <select id="recurrence" name="recurrence"
                            [value]="selectedRecurrence" (change)="onRecurrenceChange($event)" class="bg-transparent
                            border-b-2 border-darkGray focus:border-brightRed
                            focus:outline-none transition-colors
                            duration-300 w-full py-2 px-1" formControlName="recurrence">
                            <option value="WEEKLY" selected>Weekly</option>
                            <option *ngIf="customOption" [value]="customOption.value">{{ customOption.display }}</option>
                        </select>
                    </div>
                </div>
            }
            <div class="group flex flex-col gap-1">
                <label for="laboratory" class="text-custom-16
                    text-darkGray transition-colors duration-300
                    group-focus-within:text-brightRed">
                    Laboratory Room
                </label>
                <mat-select id="laboratory" name="laboratory"
                        placeholder="Select a laboratory room" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="laboratory">
                        @for(lab of labs; track lab) {
                            <mat-option [value]="lab.id">{{lab.name}}</mat-option>
                        }
                </mat-select>
            </div>
        </div>
        <div class="w-[48%] flex flex-col gap-4 row-block-two">
            <div class="group flex flex-col gap-1">
                <label for="professor" class="text-custom-16
                    text-darkGray transition-colors duration-300
                    group-focus-within:text-brightRed">
                    Assigned Professor
                </label>
                <mat-select id="professor" name="professor"
                        placeholder="Select a professor's name"
                        class="bg-transparent border-b-2 border-darkGray
                        focus:border-brightRed focus:outline-none
                        transition-colors duration-300 w-full py-2 px-1"
                            formControlName="professor">
                        @for(professor of professors; track professor) {
                            <mat-option [value]="professor.id">
                              {{professor.firstName}} {{professor.lastName}}
                            </mat-option>
                        }
                </mat-select>
            </div>
            <div class="group flex flex-col gap-1">
              <label for="school-year" class="text-custom-16
                            text-darkGray transition-colors duration-300
                            group-focus-within:text-brightRed">
                School Year
              </label>
              <mat-select id="school-year" name="school-year"
                          placeholder="Select a semester" class="bg-transparent
                                border-b-2 border-darkGray focus:border-brightRed
                                focus:outline-none transition-colors
                                duration-300 w-full py-2 px-1"
                          (selectionChange)="onSchoolYearChange($event)"
                          formControlName="schoolYear">
                @for(schoolYear of schoolYear; track schoolYear) {
                  <mat-option [value]="schoolYear.id">
                    {{schoolYear.startYear}} - {{schoolYear.endYear}}
                  </mat-option>
                }
              </mat-select>
            </div>
            <div class="group flex flex-col gap-1">
                <label for="semester" class="text-custom-16
                    text-darkGray transition-colors duration-300
                    group-focus-within:text-brightRed">
                    Semester
                </label>
                <mat-select id="semester" name="semester"
                        placeholder="Select a semester" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="semester">
                        @for(semester of semesters; track semester) {
                            <mat-option [value]="semester.id">
                              {{semester.name}}
                            </mat-option>
                        }
                </mat-select>
            </div>
            <div class="group flex flex-col gap-1">
                <label for="remarks" class="text-custom-16
                    text-darkGray transition-colors duration-300
                    group-focus-within:text-brightRed">
                    Remarks
                </label>
                <mat-select id="remarks" name="remark"
                        placeholder="Select a type of class" class="bg-transparent
                        border-b-2 border-darkGray focus:border-brightRed
                        focus:outline-none transition-colors
                        duration-300 w-full py-2 px-1" formControlName="remarks">
                        @for(remark of remarks; track remark) {
                            <mat-option [value]="remark">{{remark}}</mat-option>
                        }
                </mat-select>
            </div>
            <div class="flex flex-col justify-end gap-4 mt-10 mb-10 button-container">
                <div class="flex gap-[40px] justify-end button-content">
                    <button class="text-custom-14 text-lightGray py-2
                        px-20 border-2 rounded-full border-lightGray
                        hover:bg-lightGray hover:text-white form-button"
                        (click)="cancelOrEditSchedule()">
                        Back
                    </button>
                    <button class="text-custom-14 text-white py-2 px-19
                        bg-gradient-red rounded-full
                        hover:bg-gradient-dark-red hover:text-f4White form-button"
                        (click)="submit()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
