<h2 mat-dialog-title>Export Calendar</h2>
<mat-dialog-content class="mat-typography">
    <p>Semester to export</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close (click)="data.generateFirstSemester(1)">First Semester</button>
    <button mat-button mat-dialog-close (click)="data.generateSecondSemester(2)">Second Semester</button>
    <button mat-button mat-dialog-close (click)="data.generateSummerSemester(2)">Summer Semester</button>
</mat-dialog-actions>
