<div class="header">
    <mat-toolbar class="toolbar-container">
        <span>Request List</span>
      <div class="toolbar-button">
        <button class="print-schedule" (click)="generatePdf()">Print Request Reports</button>
      </div>
    </mat-toolbar>
  </div>
  <div class="filter-container">
    <mat-toolbar class="filter-content">
      <div class="flex w-full gap-2">
        <div class="select-semester-container w-full">
          <mat-select [(value)]="selectedAcademicYear" id="academic-year"
                      name="section" class="bg-transparent
                           border-b-2 border-darkGray focus:border-brightRed
                           focus:outline-none transition-colors
                           duration-300 w-full py-2 px-1" (selectionChange)="onFilterChange()">
            @for(academicYear of academicYears; track academicYear) {
              <mat-option [value]="academicYear.id">
                AY {{academicYear.startYear}} - {{ academicYear.endYear }}
              </mat-option>
            }
          </mat-select>
        </div>
        <div class="select-semester-container w-full">
          <mat-select [(value)]="selectedSemester" id="semester"
                      name="section" class="bg-transparent
                             border-b-2 border-darkGray focus:border-brightRed
                             focus:outline-none transition-colors
                             duration-300 w-full py-2 px-1" (selectionChange)="onFilterChange()">
            @for(semester of semesters; track $index) {
              <mat-option [value]="$index + 1">{{semester}}</mat-option>
            }
          </mat-select>
        </div>
      </div>
      <div class="dropdown-container">
        <div class="dropdown-content">
          <div class="entry-container">
            <span>Show</span>
            <select [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
              @for(entry of entries; track entry) {
                <option [value]="entry" [selected]="entry === '10'">{{entry}}</option>
              }
            </select>
            <span>Entries</span>
          </div>
          <div class="sort-container">
            <select>
              <option>Sort by</option>
              @for(sort of sorting; track sort) {
                <option [value]="sort">{{sort}}</option>
              }
            </select>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="table-container">
    <div class="subject-table">
      <div class="attributes text-custom-16">
        <div class="cell">Subject Code</div>
        <div class="cell">Subject Name</div>
        <div class="cell">Schedule</div>
        <div class="cell">Time</div>
        <div class="cell">Laboratory</div>
        <div class="cell">Action</div>
      </div>
      <div class="row-container text-custom-12">
        @for (schedule of filteredSchedules; track schedule) {
          <div class="row">
            <div class="cell">{{ schedule?.subject?.code }}</div>
            <div class="cell">{{ schedule?.subject?.name }}</div>
            <div class="cell">
              <div class="flex flex-col">
                <div class="flex gap-1 text-xs">
                  <span class="font-semibold">
                    @if(schedule.recurrenceId){
                      [ {{getRecurrenceDays(schedule.recurrenceId) }}
                      / {{ schedule.recurrence }} ]
                    }@else{
                      [ {{getDayOfWeek(schedule.scheduleDate)}} / {{schedule.scheduleDate}} ]
                    }</span>
                </div>
                <div class="italic">
                  Faculty: {{schedule.professor?.firstName}} {{schedule.professor?.lastName}}
                  <p>
                    Class:
                    {{schedule.section?.program?.programAbbreviation}}
                    {{schedule.section?.year}}-{{schedule.section?.section}}
                  </p>
                </div>
              </div>
            </div>
            <div class="cell">{{convertTimeFormat(schedule.startTime)}} -
              {{convertTimeFormat(schedule.endTime)}}</div>
            <div class="cell">{{schedule.laboratory?.name}}</div>
            <div class="cell">
              <div class="action-container">
                <button class="accept-button" (click)="toggleViewSchedule(schedule)"><mat-icon>check_circle</mat-icon></button>
                <button class="delete-button" (click)="openDeleteDialog(schedule)"><mat-icon>remove_circle</mat-icon></button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="line-container">
    <img src="../../assets/black-line.svg">
  </div>
  <div class="bottom-container">
    <div class="paginator">
      <div class="paginator-info">
        {{ getDisplayRange() }} of {{ totalItems }}
      </div>
      <div class="paginator-controls">
        <span>Page</span>
        <select [(ngModel)]="currentPage" (change)="onPageChange()">
          @for (page of pages; track page) {
            <option [value]="page">{{ page }}</option>
          }
        </select>
        <div class="paginator-button-container">
          <button (click)="previousPage()"
                  [disabled]="currentPage === 1"
                  [ngClass]="{'active-button': currentPage > 1}">
            <img src="../../assets/previous.svg"
                 alt="Previous Icon"
                 [ngClass]="{'active-icon': currentPage > 1}">
            Previous
          </button>
          <button (click)="nextPage()"
                  [disabled]="currentPage === totalPages"
                  [ngClass]="{'active-button': currentPage < totalPages}">
            Next
            <img src="../../assets/next.svg"
                 alt="Next Icon"
                 [ngClass]="{'active-icon': currentPage < totalPages}">
          </button>
        </div>
      </div>
    </div>
  </div>