<div class="flex items-center justify-center h-screen">
  <div class="gap-8 flex flex-row">
    <div
      class="w-[25vw] h-[90vh] bg-white rounded-xl flex justify-center items-center"
    >
      <div class="w-[23vw] h-[85vh] flex justify-start flex-col">
        <div class="flex flex-col gap-3">
          <p class="text-custom-24 text-brightRed">
            {{ selectedSchedule.subject?.code }} -
            {{ selectedSchedule.subject?.description }}
          </p>
          <div class="flex flex-col">
            <p class="text-lightGray text-custom-12">Professor</p>
            <p class="text-custom-16 font-medium text-darkGray">
              {{ selectedSchedule.professor?.firstName }}
              {{ selectedSchedule.professor?.lastName }}
            </p>
          </div>
        </div>
        <button (click)="simulateFingerprintScan()" class="px-1 py-3 bg-blue-500 mb-6">Simulate Scan</button>
        <button (click)="tempoProfVerified()" class="px-1 py-3 bg-blue-500">Make prof Verified</button>
        <div class="flex flex-col gap-2 mt-12">
          <p class="text-brightRed text-custom-24">Attendance List</p>
          <hr class="border-t border-1 border-brightRed" />
        </div>
        <div class="mt-5 h-[55vh] overflow-y-auto row-container">
          @for (student of studentsLogged; track student) {
            <p class="text-darkGray text-custom-16">
              {{ studentsLogged.indexOf(student) + 1 }}.
              {{ student.firstName }} {{ student.lastName }}
            </p>
          }
        </div>
        @if (hasProfessorVerified) {
          <div class="flex-grow"></div>
          <div class="flex justify-center items-center">
            <button
              mat-flat-button
              (click)="openConfirmationDialog(selectedSchedule)"
              class="stop-attendance"
            >
              Stop Attendance
            </button>
          </div>
        }
      </div>
    </div>
    <div class="w-[54vw] h-[90vh] flex flex-col justify-between">
      <div class="flex flex-row gap-8 bg-transparent">
        <div
          class="flex justify-start w-[15vw] p-4 items-center rounded-2xl bg-brightRed text-white"
        >
          <div class="flex flex-col">
            <p class="text-custom-40">{{ currentTime }}</p>
            <p class="text-custom-16 current-date">{{ currentDate }}</p>
          </div>
        </div>
        <div
          class="flex justify-between w-[15vw] p-4 items-center rounded-2xl bg-brightRed text-white"
        >
          <div class="flex flex-col">
            <p class="text-custom-40">{{ studentsLogged.length }}</p>
            <p class="text-custom-16">Total of Students Logged</p>
          </div>
        </div>
      </div>
      <div class="h-[75vh] w-full bg-[#E7D7D7] rounded-xl flex justify-center items center" [ngClass]="{
        'bg-[#73AC4D]': isSuccess || isAlreadyLogged,
        'bg-[#AB3130]': isError,
        'bg-[#E7D7D7]': !isSuccess && !isError
      }">
        <div class="flex flex-col w-[45vw] justify-center gap-4">
          @if (!hasProfessorVerified) {
              @if (!loggedProfessor) {
                <p class="text-custom-32 text-[#AB3130] font-medium">
                  {{ reminder }}
                </p>
              } @else if (loggedProfessor) {
                <p class="text-custom-32 text-[#F2F2F2] font-medium">
                  {{ reminder }}
                </p>
              }
            <div class="w-full rounded-xl h-[55vh] bg-white flex justify-center gap-9">
              <div class="flex justify-center">
                <div class="flex gap-6 flex-col w-[30vh] justify-center">
                  @if (loggedProfessor) {
                    <div class="flex flex-col">
                      <p class="text-lightGray text-custom-16">
                        In-Charge Name
                      </p>
                      <p class="text-brightRed text-custom-24 font-weight400">
                        {{ selectedSchedule.professor?.firstName }}
                        {{ selectedSchedule.professor?.lastName }}
                      </p>
                    </div>
                  } @else if (isError) {
                    <div class="flex flex-col">
                      <p class="text-brightRed font-semibold text-custom-32">
                        In-charge Fingerprint is not recognized. 
                      </p>
                      <p class="text-brightRed text-custom-20">Please try again.</p>
                    </div>
                  }
                </div>
              </div>
              <div class="flex justify-center">
                <div class="w-[20vw] flex justify-center items-center">
                  <div class="drop-area">
                    @if (!loggedProfessor) {
                      @if (isError) {
                        <div class="error-image">
                          <img src="../../../assets/exclamation-error.png">
                        </div>
                      } @else {
                        <div class="fingerprint-container">
                          <mat-icon class="fingerprint-icon">
                            fingerprint
                          </mat-icon>
                          <div class="bottom-left"></div>
                          <div class="bottom-right"></div>
                        </div>
                      }
                    } @else if (loggedProfessor) {
                      <div class="upload-message">
                        @if (profileImageUrl) {
                          <img
                            src="{{ profileImageUrl }}"
                            alt="user profile image"
                          />
                        }
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          } @else {
            <p class="text-custom-32 text-brightRed font-medium" [ngClass]="{
              'text-[#F2F2F2]': isSuccess || isAlreadyLogged,
              'text-[#AB3130]': !isSuccess && !isError
            }">
              @if (loggedStudent) {
                {{ reminder }}
              } @else if (!loggedStudent) {
                {{ reminder }}
              } @else if (isAlreadyLogged) {
                {{ reminder }}
              }
            </p>
            <div class="w-full rounded-xl h-[55vh] bg-white flex justify-center gap-9">
              <div class="flex justify-center">
                <div class="flex gap-6 flex-col w-[20vw] justify-center">
                  @if (loggedStudent) {
                    <div class="flex flex-col">
                      <p class="text-lightGray text-custom-16">
                        Student's Name
                      </p>
                      <p class="text-brightRed text-custom-24 font-weight400" [ngClass]="{
                        'text-[#73AC4D]': isAlreadyLogged,
                        'text-brightRed': isSuccess
                      }">
                        {{ loggedStudent.firstName }}
                        {{ loggedStudent.lastName }}
                      </p>
                    </div>
                    <div class="flex flex-col">
                      <p class="text-lightGray text-custom-16">
                        Student Number
                      </p>
                      <p class="text-darkGray text-custom-20 font-weight400">
                        {{ loggedStudent.usercode }}
                      </p>
                    </div>
                    <div class="flex flex-col">
                      <p class="text-lightGray text-custom-16">
                        Course Year & Section
                      </p>
                      <p class="text-darkGray text-custom-16 font-weight400">
                        {{
                          loggedStudent.section?.program?.programAbbreviation
                        }}
                        {{ loggedStudent.section?.year }} -
                        {{ loggedStudent.section?.section }}
                      </p>
                    </div>
                  } 
                  @else if (isError) {
                    <div class="flex flex-col">
                      <p class="text-brightRed font-semibold text-custom-32">
                        Student Fingerprint is not recognized. 
                      </p>
                      <p class="text-brightRed text-custom-20">Please try again.</p>
                    </div>
                  }
                </div>
              </div>
              <div class="flex justify-center">
                <div class="w-[20vw] flex justify-center items-center">
                  <div class="drop-area" [ngClass]="{
                    'bg-[#A1DB7A]': isAlreadyLogged,
                    'bg-[#F2E8E9]': !isSuccess && !isError
                  }">
                    @if (loggedStudent) {
                      @if(isAlreadyLogged) {
                        <div class="already-logged-image">
                          <img src="../../../assets/already-logged-check.png">
                        </div>
                      } @else {
                        <div class="upload-message">
                          @if (profileImageUrl) {
                            <img
                              src="{{ profileImageUrl }}"
                              alt="user profile image"
                            />
                          } @else {
                            <mat-icon class="camera-icon">camera_alt</mat-icon>
                          }
                        </div>
                      }
                    } @else if (!loggedStudent) {
                      @if (isError) {
                        <div class="error-image">
                          <img src="../../../assets/exclamation-error.png">
                        </div>
                      } @else {
                        <div class="fingerprint-container">
                          <mat-icon class="fingerprint-icon">
                            fingerprint
                          </mat-icon>
                          <div class="bottom-left"></div>
                          <div class="bottom-right"></div>
                        </div>
                      }
                    }
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
