.toolbar-button {
    display: flex;
    gap: 30px;
}

.toolbar-button button {
    font-size: 12px;
    padding: 4px 40px;
    background-color: #AB3130;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.toolbar-button button:hover {
    background-color: #800c10;
}