<div class="background-container">
  @if(!isAddStudent) {
    @if(!isEditStudent) {
        <div class="header">
            <mat-toolbar class="toolbar-container">
                <span>List of Students - ALL</span>
                <div class="toolbar-button">
                    <button mat-button [matMenuTriggerFor]="menu">
                        Add Student
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="toggleAddStudent()">
                            Add Single Student
                        </button>
                        <button mat-menu-item (click)="toggleBulkAddStudent()">
                            Add Multiple Student
                        </button>
                    </mat-menu>
                    <div class="toolbar-button select-none">
                        <div class="header-button flex" (click)="toggleDropdown()">
                            Print Student Report
                        </div>
                        @if (reportDropdown) {
                            <div class="subject-print-content flex flex-col">
                                <div
                                        class="hover:bg-lightGray hover:text-f4White hover:rounded-2xl w-full"
                                        (click)="generatePdf()"
                                >
                                    Print PDF
                                </div>
                                <div
                                        class="hover:bg-lightGray hover:text-f4White hover:rounded-2xl w-full"
                                        (click)="generateCSV()"
                                >
                                    Print CSV
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </mat-toolbar>
        </div>
        <div class="filter-container">
            <mat-toolbar class="filter-content">
              <div class="flex w-full gap-2">
                <div class="select-top-container w-full"> 
                  <p>Program</p>
                  <mat-select
                      [(value)]="selectedProgram"
                      id="program"
                      class="bg-transparent border-b-2 border-darkGray focus:border-brightRed focus:outline-none transition-colors duration-300 w-full py-2 px-1"
                      (selectionChange)="onProgramChange()">
                      <mat-option [value]="-1">
                          All
                      </mat-option>
                    @for(program of programs; track program) {
                      <mat-option [value]="program.id">
                        {{program.programName}}
                      </mat-option>
                    }
                  </mat-select>
                </div>    
                <div class="select-top-container w-full"> 
                  <p>Year and Section</p>
                  <mat-select
                      [(value)]="selectedYearAndSection"
                      id="year"
                      class="bg-transparent border-b-2 border-darkGray focus:border-brightRed focus:outline-none transition-colors duration-300 w-full py-2 px-1"
                      (selectionChange)="onSectionChange()">
                      <mat-option [value]="-1">
                          All
                      </mat-option>
                    @for(yearAndSection of sections; track yearAndSection) {
                      <mat-option [value]="yearAndSection.id">
                         {{ yearAndSection.year }} - {{ yearAndSection.section }}
                      </mat-option>
                    }
                  </mat-select>
                </div>                                     
              </div>
                <div class="search-container">
                    <mat-icon class="search-icon">search</mat-icon>
                    <input type="text" placeholder="SEARCH" 
                        [(ngModel)]="searchQuery" 
                        (input)="searchStudentList()">
                </div>
            </mat-toolbar>
        </div>
        @if(filteredStudents.length > 0) {
          <div class="table-container">
            <div class="subject-table">
                <div class="attributes text-custom-16">
                    <div class="cell">Student Number</div>
                    <div class="cell">Student Name</div>
                    <div class="cell">Program</div>
                    <div class="cell">Year</div>
                    <div class="cell">Section</div>
                    <div class="cell">Action</div>
                </div>
                <div class="row-container text-custom-12">
                    @for (student of filteredStudents; track student) {
                        <div class="row">
                            <div class="cell">{{ student.usercode }}</div>
                            <div class="cell">{{ student.firstName }} {{ student.lastName }}</div>
                            <div class="cell">{{ student.program?.programAbbreviation }}</div>
                            <div class="cell">{{ student.section?.year }}</div>
                            <div class="cell">{{ student.section?.section }}</div>
                            <div class="cell">
                                <button (click)="toggleDropdownAction(student.id)" 
                                    class="dropdown-toggle">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                @if(activeDropdownId === student.id) {
                                    <div class="action-container" [ngClass]="{
                                        'bottom-action': filteredStudents.length >= 4 && (filteredStudents[filteredStudents.length - 1] === student || filteredStudents[filteredStudents.length - 2] === student)}">
                                        <button class="action-button" 
                                            (click)="toggleEditStudent(student)">
                                            Edit
                                        </button>
                                        <button class="action-button" 
                                            (click)="openConfirmationDialog(student)">
                                            Delete
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="line-container">
          <img src="../../assets/black-line.svg">
        </div>
        <div class="bottom-container">
            <div class="paginator">
                <div class="paginator-info">
                  {{ getDisplayRange() }} of {{ totalItems }}
                </div>
                <div class="paginator-controls">
                  <div>
                    <span>Show Entries</span>
                    <select [(ngModel)]="itemsPerPage"
                        (change)="onItemsPerPageChange()">
                      @for (entry of entries; track entry) {
                        <option [value]="entry" [selected]="entry === '10'">
                          {{ entry }}
                        </option>
                      }
                    </select>
                  </div>
                  <div>
                    <span>Page</span>
                    <select [(ngModel)]="currentPage" (change)="onPageChange()">
                      @for (page of pages; track page) {
                          <option [value]="page">{{ page }}</option>
                      }
                    </select>
                  </div>
                  <div class="paginator-button-container">
                    <button (click)="previousPage()"
                            [disabled]="currentPage === 1"
                            [ngClass]="{'active-button': currentPage > 1}">
                        <img src="../../assets/previous.svg"
                                alt="Previous Icon"
                                [ngClass]="{'active-icon': currentPage > 1}">
                        Previous
                    </button>
                    <button (click)="nextPage()"
                            [disabled]="currentPage === totalPages"
                            [ngClass]="{'active-button': currentPage < totalPages}">
                        Next
                        <img src="../../assets/next.svg"
                                alt="Next Icon"
                                [ngClass]="{'active-icon': currentPage < totalPages}">
                    </button>
                  </div>
                </div>
            </div>
        </div>
        } @else {
          <div class="flex justify-center items-center h-[50vh]">
            No Student Data Yet.
        </div>
        }
    } @else {
        <app-edit-student
          [selectedStudent]="studentToEdit"
          (editedStudent)="onStudentUpdate($event)"
          (backToEditStudent)="handleEditBackToStudent()"/>
    }
} @else {
    <app-add-student
      (addedStudent)="onStudentAdded($event)"
      (backToStudent)="handleBackToStudent()"/>
}
</div>