<div class="fixed inset-0 overflow-hidden z-[-1] bg-gradient-red-orange"></div>
<div class="flex justify-center items-center h-screen">
    <div class="flex flex-col justify-center items-center shadow-xl">
        <div class="login-image w-[750px] h-[150px] rounded-tl-2xl rounded-tr-2xl opacity-80"></div>
        <div class="flex justify-center bg-white w-[750px] h-[500px] rounded-bl-2xl rounded-br-2xl">
            <form class="flex flex-col w-[85%]" [formGroup]="resetPasswordForm">
                <div class="mt-12 flex flex-col gap-2">
                    <p class="text-custom-32 text-black font-weight700">Reset Password</p>
                    <p class="text-custom-16 text-lightGray font-weight400">Please enter your new password below to complete the reset process.</p>
                </div>
                <div class="flex flex-col mt-4 gap-8">
                  @if(errorMessage){
                    <p class="text-custom-16 text-red-400 h-0.5 font-weight400 text-center">{{ errorMessage }}</p>
                  }
                    <div class="group relative flex flex-col">
                        <label for="subject-description" class="text-custom-16
                            text-darkGray transition-colors duration-300
                            group-focus-within:text-brightRed">
                            New Password
                        </label>
                        <input matInput id="new_password" type="password" name="new-password"
                            placeholder="Enter your new Password" class="bg-transparent
                            border-b-2 border-lightGray focus:border-brightRed
                            focus:outline-none transition-colors
                            duration-300 w-full py-1 md:py-2 text-custom-20" formControlName="newPassword"
                            (input)="setMessageToNull()">
                    </div>
                    <div class="group relative flex flex-col">
                        <label for="subject-description" class="text-custom-16
                            text-darkGray transition-colors duration-300
                            group-focus-within:text-brightRed" (click)="setMessageToNull()">
                            Confirm Password
                        </label>
                        <input matInput id="confirm_password" type="password" name="confirm-password"
                            placeholder="Re-enter you new password" class="bg-transparent
                            border-b-2 border-lightGray focus:border-brightRed
                            focus:outline-none transition-colors
                            duration-300 w-full py-1 md:py-2 text-custom-20" formControlName="confirmPassword">
                    </div>
                </div>
                <div class="flex justify-center mt-8">
                    <button  [disabled]="!isFormValid" type="button"
                    [ngClass]="{'bg-gradient-red-orange text-white hover:bg-gradient-dark-red-orange hover:text-f4White': isFormValid,
                               'bg-lightGray text-f4White cursor-not-allowed': !isFormValid}"
                    class="text-custom-20 mt-8 py-2 px-10 w-[400px] rounded-xl add-button" (click)="submit()">
                      @if(!hasSubmitted) {
                        Send
                      } @else {
                        <div class="flex items-center justify-center h-full">
                          <mat-spinner [diameter]="30"></mat-spinner>
                        </div>
                      }
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
