.login-image {
    background-image: url('../../../assets/header-bg.png');
    background-size: cover;
    background-position: center;
}

input[id="new_password"], input[id="confirm_password"] {
  -webkit-appearance: none; 
  -moz-appearance: none;  
  appearance: none;      
}

input[id="new_password"]::-ms-reveal, input[id="confirm_password"]::-ms-reveal {
  display: none;
}