<div class="flex justify-center items-center">
    <mat-toolbar class="toolbar-container">
        <span class="text-custom-32 text-brightRed">View Schedule</span>
    </mat-toolbar>
</div>
<div class="flex justify-center items-center">
    <div class="mt-2 w-[94%] bg-white py-4 px-4 rounded-2xl">
        <div class="flex flex-col gap-6">
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Subject Code:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ schedule.subject?.code }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Subject Name:
                </p>
                <p class="text-darkGray text-custom-16 w-2/3 data [80%]">
                    {{ schedule.subject?.name }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Description:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ schedule.subject?.description }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-center items-center">
    <div class="mt-6 flex justify-between w-[94%] 
            bg-white py-4 px-4 rounded-2xl">
        <div class="flex flex-col gap-6">
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Section:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{schedule.section}}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Scheduled Time:
                </p>
                <p class="text-darkGray text-custom-16 w-2/3 data [80%]">
                    {{scheduleComponent.convertTimeFormat(schedule.startTime)}}
                    - {{scheduleComponent.convertTimeFormat(schedule.endTime)}}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Scheduled Date/s:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ schedule.scheduleDate }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Laboratory Room:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ schedule.laboratory}}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Assigned Professor:
                </p>
                <p class="text-darkGray text-custom-16 w-2/3 data [80%]">
                    {{schedule.professor?.firstName}} {{schedule.professor?.lastName}}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Semester:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ schedule.semester }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    School Year:
                </p>
                <p class="text-darkGray text-custom-16 [80%] data">
                    {{ schedule.schoolYear }}
                </p>
            </div>
            <div class="flex justify-start items-start row-content">
                <p class="text-brightRed text-custom-16 font-medium w-[20%] label">
                    Remarks:
                </p>
                <p class="text-darkGray text-custom-16 w-2/3 data [80%]">
                    {{schedule.remarks}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-center items-center">
    <div class="mt-40 flex justify-end w-[94%] button-content">
        <button class="text-custom-14 text-white py-2 px-19
            bg-gradient-red-orange rounded-full
            hover:bg-gradient-dark-red-orange hover:text-f4White"
            (click)="backToSchedule()">
            Back
        </button>
    </div>
</div>
