.background-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1682' height='332' preserveAspectRatio='none' viewBox='0 0 1682 332'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1520%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c250 C 48.2%2c202.8 144.6%2c20.4 241%2c14 C 337.4%2c7.6 385.6%2c203 482%2c218 C 578.4%2c233 626.6%2c77.6 723%2c89 C 819.4%2c100.4 867.6%2c271.6 964%2c275 C 1060.4%2c278.4 1108.6%2c115.8 1205%2c106 C 1301.4%2c96.2 1350.6%2c241.8 1446%2c226 C 1541.4%2c210.2 1634.8%2c66.8 1682%2c27L1682 332L0 332z' fill='rgba(239%2c 233%2c 233%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1520'%3e%3crect width='1682' height='332' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.toolbar-container {
    margin-top: 2rem;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
  }
  
  .example-full-width {
  width: 100%;
  }
  
  .form-button button{
    font-size: 14px;
    padding: 12px 60px;
    background-color: #D31119;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  
  .form-button button:hover {
    background-color: #800c10;
  }
  
  .calendar-container {
      background-color: white;
      padding: 10px;
      width: 68%;
      font-family: 'Roboto', sans-serif;
      border-radius: 20px;
      padding: 20px;
  }
    
  .fc,  
  .fc .fc-view, 
  .fc .fc-view * {
      border: none !important;
      outline: none !important;
  }
  
  .fc-toolbar-title {
    color: #AB3130 !important;    
    font-size: 24px !important;
    font: medium !important; 
  }
  
  .fc-button.fc-today-button {
    background-color: #AB3130 !important;
    color: white !important;
  }
  
  .fc-button.fc-today-button:hover {
    background-color: #942f2a !important;
  }
  
  .fc-prev-button,
  .fc-next-button {
    background-color: transparent !important;
    border: none !important;
    color: #AB3130 !important;
    box-shadow: none !important; 
    font-size: larger !important;
  }
  
  .fc-prev-button:hover,
  .fc-next-button:hover {
    color: #942f2a !important;
  }
  
  .fc-col-header-cell {
    position: relative;
    padding: 10px !important;
    z-index: 1;
    background-color: transparent !important;
  }
  
  .fc-col-header-cell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid #AB3130;
    pointer-events: none;
    box-sizing: border-box;
  }
  
  .fc-day-today {
    position: relative;
    z-index: 1;
    background-color: transparent !important;
  }
  
  .fc-day-today .fc-daygrid-day-number {
    position: relative;
    z-index: 1; 
  }
  
  .fc-day-today::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #AB3130;
    border-radius: 8px;
    pointer-events: none;
    box-sizing: border-box;
  }

  @media (max-width: 1360px) {
    .current-date {
      font-size: 14px;
    }
  }
  
  @media (min-width: 1000px) and (max-width: 1325px) {
    .classes-header {
      font-size: 20px;
    }
  
    .row-classes {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .month-day {
      margin-left: 0;
    }
  
    .subject-name {
      font-size: 12px;
    }
  
    .lab-room {
      font-size: 12px;
    }
  
    .time {
      font-size: 12px;
    }
  
    .calendar-container {
      height: max-content;
    }
  
    .group-total {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  
    .data-row {
      width: 225px;
    }
  }
  
  @media (max-width: 999px) {
    .group-total {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  
    .data-row {
      width: 225px;
    }
  
    .classes-header {
      font-size: 20px;
    }
  
    .fc-toolbar-title {
      font-size: 20px !important;
    }
  
    .calendar-upcoming-class {
      flex-direction: column;
      gap: 20px;
    }
  
    .calendar-container {
      width: 100%;
    }
  
    .upcoming-class {
      width: 100%;
    }
  }
  
  @media (max-width: 400px) {
    .fc-toolbar-chunk {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .fc-toolbar-title {
      text-align: center;
      width: 100%;
    }
  
    .fc .fc-toolbar {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
  