<div class="background-container">
    <div class="flex justify-center items-center">
        <mat-toolbar class="toolbar-container">
            <span class="text-custom-32 text-brightRed">Welcome, Admin</span>
        </mat-toolbar>
    </div>
    <div class="flex justify-center items-center">
        <div class="mt-8 flex justify-between w-[94%] bg-transparent group-total">
            <div class="flex justify-start w-[24%] p-4 items-center rounded-3xl bg-brightRed text-white data-row">
                <div class="flex flex-col">
                  <p class="text-custom-40">{{ currentTime }}</p>
                  <p class="text-custom-16 current-date">{{ currentDate }}</p>
                </div>
              </div>
            <div class="flex justify-between w-[24%] p-4 items-center rounded-3xl bg-brightRed text-white data-row">
                <div class="flex flex-col">
                    <p class="text-custom-40">{{ totalSubject }}</p>
                    <p class="text-custom-16">Total of Subject</p>
                </div>
                <img src="../../assets/total-subject-icon.svg" alt="Total Subject Icon">
            </div>
            <div class="flex justify-between w-[24%] p-4 items-center rounded-3xl bg-brightRed text-white data-row">
                <div class="flex flex-col">
                    <p class="text-custom-40">{{ totalStudents }}</p>
                    <p class="text-custom-16">Total of Students</p>
                </div>
                <img src="../../assets/total-students.svg" alt="Total Attendance Icon">
            </div>
            <div class="flex justify-between w-[24%] p-4 items-center rounded-3xl bg-brightRed text-white data-row">
                <div class="flex flex-col">
                    <p class="text-custom-40">{{ totalProfessors }}</p>
                    <p class="text-custom-16">Total of Professors</p>
                </div>
                <img src="../../assets/total-professors-icon.svg" alt="Total Tardinesss Icon">
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <div class="mt-8 mb-8 flex justify-between w-[94%] bg-transparent calendar-upcoming-class">
            <div class="calendar-container">
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
            <div class="flex flex-col w-[30%] p-5 rounded-3xl bg-white upcoming-class">
                <p class="text-custom-24 mt-1 text-brightRed font-medium classes-header">Upcoming Classes</p>
                <img class="mt-3" src="../../assets/red-line.svg" alt="Red line">
                <div class="flex flex-col mt-6 gap-3">
                    @for (schedule of filteredUpcomingSchedules; track schedule) {
                        <div class="flex justify-start gap-12 border-semiGray border-2 p-5 bg-white rounded-xl row-classes">
                            <div class="flex flex-col justify-center items-center text-brightRed ml-3 month-day">
                                <p class="text-custom-16">{{ getMonth(schedule.scheduleDate) }}</p>
                                <p class="text-custom-24 font-semibold">{{ getDay(schedule.scheduleDate) }}</p>
                            </div>
                            <div class="flex flex-col">
                                <p class="text-custom-14 font-weight700 subject-name">
                                  {{ schedule.subject?.description }}
                                </p>
                                <p class="text-custom-14 lab-room">
                                  {{ schedule.laboratory?.name }}
                                </p>
                                <p class="text-custom-14 italic time">
                                  {{ getTime12HourFormat(schedule.startTime) }}
                                    - {{getTime12HourFormat(schedule.endTime)}}
                                </p>
                            </div>
                        </div>
                    }
                </div>
    
            </div>
        </div>
    </div>    
</div>
