.header,
.filter-container,
.table-container,
.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar-container {
    margin-top: 2rem;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.toolbar-container span {
    font-size: 32px;
    color: #F84C42;
}

.toolbar-button {
    display: flex;
    gap: 30px;
}

.toolbar-button button {
    font-size: 12px;
    padding: 4px 40px;
    background-color: #F84C42;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.toolbar-button button:hover {
    background-color: #800c10;
}

.filter-content {
    background: none;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: gray;
}

.search-container input {
    font-size: 12px;
    padding: 4px 80px 4px 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #F2E8E9;
}

.dropdown-content {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.entry-container {
    display: flex;
    gap: 10px;
}

.entry-container span {
    color: #F84C42;
    font-size: 12px;
}

.entry-container select {
    color: #7F7F7F;
    border: 1px solid #F2E8E9;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.sort-container select {
    color: #F84C42;
    border: 1px solid #F2E8E9;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.subject-table {
    width: 94%;
    margin: 20px 0;
    font-size: 16px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.attributes {
    font-weight: bold;
    font-size: 12px;
    color: #F84C42;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 18px;
    display: flex;
}

.row-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 50vh;
    overflow-y: auto;
}

.row {
    font-size: 12px;
    display: flex;
    align-items: center; 
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 18px;
}

.subject-table .cell {
    flex: 1;
    padding: 0 10px;
    text-align: left;
}

.subject-table .cell:last-child {
    flex: 0 0 180px;
}

.action-container {
    display: flex;
    gap: 10px;
}

.view-button, .edit-button, .delete-button {
    background-color: #F84C42;
    color: white;
    border: none;
    padding: 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
}

.view-button mat-icon, .edit-button mat-icon, .delete-button mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.view-button, .edit-button {
    background-color: #393939;
}

.view-button:hover, .edit-button:hover {
    background-color: #949494;
}

.delete-button:hover {
    background-color: #d44f53;
}

.line-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-container img {
    width: 94%;
}

.paginator {
    margin-top: 8px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.paginator-info {
    color: #393939;
    font-size: 12px;
}

.paginator-controls {
    display: flex;
    align-items: center;
}

.paginator-controls span {
    color: #393939;
    font-size: 12px;
}

.paginator-controls select {
    color: #393939;
    border: 1px solid #393939;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #f9f9f9;
    cursor: pointer;
    margin: 0 10px;
}

.paginator-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.paginator-button-container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    padding: 10px 20px;
    color: #7F7F7F;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.paginator-button-container button.active-button {
    color: #F84C42;
}

.paginator-button-container img {
    height: 15px;
    width: 15px;
}

.paginator-button-container img.active-icon {
    filter: invert(41%) sepia(68%) saturate(6900%) 
    hue-rotate(336deg) brightness(100%) contrast(101%);
}

.row-container::-webkit-scrollbar {
    width: 8px;
}

.row-container::-webkit-scrollbar-track {
    background-color: #E3E3E3;
    border-radius: 10px;
}

.row-container::-webkit-scrollbar-thumb {
    background-color: #D33C33;
    border-radius: 10px;
    border: 2px solid #E3E3E3;
}

.row-container::-webkit-scrollbar-thumb:hover {
    background-color: #F9653F;
}