@if(!isEditVisitor) {
    <div class="header">
        <mat-toolbar class="toolbar-container">
            <span>List of Visitors - ALL</span>
            <div class="toolbar-button">
                <button>Print Visitor Report</button>
            </div>
        </mat-toolbar>
    </div>
    <div class="filter-container">
        <mat-toolbar class="filter-content">
            <div class="search-container">
                <mat-icon class="search-icon">search</mat-icon>
                <input type="text" placeholder="SEARCH">
            </div>
            <div class="dropdown-container">
                <div class="dropdown-content">
                    <div class="entry-container">
                        <span>Show</span>
                        <select [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
                            @for(entry of entries; track entry) {
                                <option [value]="entry" [selected]="entry === '10'">{{entry}}</option>
                            }
                        </select>
                        <span>Entries</span>
                    </div>
                    <div class="sort-container">
                        <select>
                            <option>Sort by</option>
                            @for(sort of sorting; track sort) {
                                <option [value]="sort">{{sort}}</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </mat-toolbar>
    </div>
    <div class="table-container">
        <div class="subject-table">
            <div class="attributes">
                <div class="cell">VISITOR'S NAME</div>
                <div class="cell">PURPOSE OF VISIT</div>
                <div class="cell">DATE OF VISITATION</div>
                <div class="cell">TIME IN</div>
                <div class="cell">TIME OUT</div>
                <DIV class="cell">DESTINATION</DIV>
                <div class="cell">ACTION</div>
            </div>
            <div class="row-container">
                @for (visitor of filteredVisitors; track visitor) {
                    <div class="row">
                        <div class="cell">{{visitor.visitor_name}}</div>
                        <div class="cell">{{visitor.visit}}</div>
                        <div class="cell">{{visitor.visit_date}}</div>
                        <div class="cell">{{visitor.time_in}}</div>
                        <div class="cell">{{visitor.time_out}}</div>
                        <div class="cell">{{visitor.destination}}</div>
                        <div class="cell">
                            <div class="action-container">
                                <button class="edit-button" (click)="toggleEditVisitor()"><mat-icon>edit</mat-icon></button>
                                <button class="delete-button"><mat-icon>delete</mat-icon></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="line-container">
        <img src="../../assets/black-line.svg">
    </div>
    <div class="bottom-container">
        <div class="paginator">
            <div class="paginator-info">
              {{ getDisplayRange() }} of {{ totalItems }}
            </div>
            <div class="paginator-controls">
              <span>Page</span>
              <select [(ngModel)]="currentPage" (change)="onPageChange()">
                    @for (page of pages; track page) {
                        <option [value]="page">{{ page }}</option>
                    }
              </select>
              <div class="paginator-button-container">
                <button (click)="previousPage()"
                        [disabled]="currentPage === 1"
                        [ngClass]="{'active-button': currentPage > 1}">
                    <img src="../../assets/previous.svg"
                            alt="Previous Icon"
                            [ngClass]="{'active-icon': currentPage > 1}">
                    Previous
                </button>
                <button (click)="nextPage()"
                        [disabled]="currentPage === totalPages"
                        [ngClass]="{'active-button': currentPage < totalPages}">
                    Next
                    <img src="../../assets/next.svg"
                            alt="Next Icon"
                            [ngClass]="{'active-icon': currentPage < totalPages}">
                </button>
              </div>
            </div>
        </div>
    </div>
} @else {
        <app-edit-visitor (backToEditVisitor)="handleBackToEditVisitor()"></app-edit-visitor>
    }
