.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F4F4F4;
}

.mat-sidenav {
    width: 325px;
}

.sidenav-toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

@media (max-width: 900px) {
    .sidenav-toggle-button {
        display: block;
    }
}

@media (min-width: 901px) {
    .sidenav-toggle-button {
        display: none;
    }
}